::ng-deep .p-button-icon-only {
  visibility: hidden;
}

.iconbutton-neumorphism {
  padding-top: 0.3rem !important;
}

::ng-deep p-celleditor > p-dropdown > .p-dropdown,
.form-row > .type-container > .form-check > ::ng-deep p-dropdown > .p-dropdown,
::ng-deep
  .p-datatable
  .p-datatable-tfoot
  > tr
  > td
  ::ng-deep
  p-dropdown
  > .p-dropdown {
  border-bottom: none !important;
  width: auto;
}

.table-depts
  ::ng-deep
  .p-datatable
  .p-datatable-tbody
  > tr:last-child
  > td:nth-child(2) {
  box-shadow: none !important;
}

.table-depts
  ::ng-deep
  .p-datatable
  .p-datatable-tbody
  > tr:first-child
  > td:first-child {
  box-shadow: inset 10px -3px 7px -9px var(--box-shadow-inset),
    inset -4px 0px 0px -2px var(--border-color),
    inset 0px 3px 0px -2px var(--border-color) !important;
}

.table-depts
  ::ng-deep
  .p-datatable
  .p-datatable-tbody
  > tr:last-child
  > td:first-child {
  border-bottom-left-radius: 0 !important;
  box-shadow: inset 25px 0px 8px -24px var(--box-shadow-inset),
    inset -4px 0px 0px -2px var(--border-color),
    inset 0px 3px 0px -2px var(--border-color) !important;
}

.table-depts ::ng-deep .p-datatable-table .sticky-column-checkboxes {
  position: sticky;
  background-color: var(--bg-color) !important;
  z-index: 1;
  left: 0 !important;
  box-shadow: inset 10px -3px 7px -9px var(--box-shadow-inset),
    inset -4px 0px 0px -2px var(--border-color),
    inset 0px 3px 0px -2px var(--border-color);
  border-top: none;
}

.table-depts ::ng-deep .p-datatable-table .sticky-checkboxes-main {
  top: 0 !important;
  position: sticky !important;
  z-index: 2 !important;
  box-shadow: inset 9px 9px 8px -9px var(--box-shadow-inset),
    inset -4px 0px 0px -2px var(--border-color),
    inset 0px -3px 0px -2px var(--border-color) !important;
  border-top-left-radius: 1rem !important;
}

.add-dept-i {
  min-width: 3rem;
}

::ng-deep .p-datatable .p-datatable-tfoot > tr > td {
  background-color: var(--bg-color);
  border-width: 0;
  border: none;
  text-align: center;
  font-weight: normal;
  box-shadow: inset 0px -13px 9px -12px var(--box-shadow-inset-secondary);
}

::ng-deep .p-datatable .p-datatable-tfoot > tr {
  border: none;
  border-top: 0.0625rem solid var(--border-color);
  box-shadow: inset 5px 0 8px -4px var(--box-shadow-inset),
    inset -4px 0px 0px -2px var(--border-color);
}

::ng-deep .p-datatable .p-datatable-tfoot > tr > td:last-child {
  box-shadow: inset -16px -15px 10px -13px var(--box-shadow-inset-secondary);
}

::ng-deep .p-datatable .p-datatable-tfoot > tr > td:first-child {
  box-shadow: inset 0px -13px 8px -12px var(--box-shadow-inset-secondary),
    inset 24px -17px 8px -24px var(--box-shadow-inset),
    inset -4px 0px 0px -2px var(--border-color);
}

.new-select-permission ::ng-deep .p-multiselect-panel .p-multiselect-header {
  height: 3rem;
}

.new-select-permission ::ng-deep .p-multiselect-items-wrapper {
  height: 4rem;
}

.new-select-permission ::ng-deep.p-multiselect-filter-container .p-inputtext {
  height: 2.2rem;
}

.new-select-permission ::ng-deep.p-multiselect .p-component {
  margin-top: 0.52rem;
}

.depts-container ::ng-deep .p-dropdown .p-dropdown-panel,
::ng-deep
  .p-datatable
  .p-datatable-tfoot
  > tr
  > td
  ::ng-deep
  .p-dropdown
  .p-dropdown-panel {
  top: -36px !important;
  background: var(--bg-color);
}
