<div class="iconbutton-container">
  <button class="iconbutton-neumorphism" (click)="toggleAddLog()" id="add-log" matTooltip="Add log"
    matTooltipPosition="above">
    <i class="bi bi-plus-circle-fill " *ngIf="!addlog"></i>
    <i class="bi bi-x-circle-fill " *ngIf="addlog"></i>
</button>
</div>
<div *ngIf="show" class="addlog-container">
  <form (ngSubmit)="onSubmitNote()" [formGroup]="addNewNoteForm">
    <div class="form-row">
      <div class="col-10 txtlog-container">
        <textarea 
            class="input-neumorphism" 
            placeholder="Add Note" 
            id="note" 
            formControlName="note"
            appTextareaAutoresize
        >
        </textarea>
      </div>
      <div class="col-2 btnsave-container">
        <button type="submit" class="button-neumorphism width-100">Save</button>
      </div>
    </div>
  </form>
  <hr>
</div>

<div *ngFor="let note of currentCallNotes">
  <div class="log-container">
    <div class="form-check form-check-inline width-100">
      <h6>{{ currentCall.fullname }} | <small>{{note.date.toMillis() | date:'yyyy/MM/dd h:mm a'}}</small> </h6>
    </div>
    <div class="log-content-container">
      {{ note.data }}
    </div>
    <small>{{ note.enteredBy }}</small>
    <hr>
  </div>
</div>