.iconbutton-container {
  padding: 0rem 1.2rem 1rem 1.2rem;
}

.txtlog-container {
  margin-top: 0.55rem;
  width: 80% !important;
}

.txtlog {
  max-height: 20rem !important;
  display: flex;
  margin-left: 2rem;
}

.btnsave-container {
  display: flex;
  padding-left: 0.88rem !important;
  padding-right: 2rem !important;
}

.log-content-container {
  margin-top: 0.55rem;
}

.log-container {
  padding: 1rem 2rem 0rem 2rem;
  border-radius: 1.5rem;
  border: 0.0625rem solid var(--bg-transparent);
}

.log-container:hover {
  background-color: var(--bg-color);
  border: 0.0625rem solid var(--border-color);
  transition: all 0.2s ease-in-out;
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
}

.filter-notes-container {
  padding: 0rem 2rem 0rem 1rem;
}

.filter-notes-container ::ng-deep .mat-form-field {
  width: 100%;
}

.addlog-container ::ng-deep .p-dropdown-item {
  white-space: normal;
  overflow-wrap: break-word;
}

.addlog-container ::ng-deep .p-dropdown .p-dropdown-label.p-inputtext {
  content-visibility: hidden !important;
  padding: 0 !important;
}

.addlog-container ::ng-deep .p-dropdown {
  border: none !important;
  top: 50%;
}

.addlog-container {
  padding-bottom: 1rem;
  padding-top: 1.4rem;
}
.add-log-maincontainer {
  padding-top: 2.2rem;
}
.notes-menu {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: var(--bg-color);
  box-shadow: inset 0px -3px 0px -2px var(--border-color);
}

::ng-deep .p-inputgroup {
  width: 100%;
}

.addlog-container ::ng-deep .p-dropdown .p-dropdown-panel {
  left: -1.6rem !important;

  top: 1rem !important;
}

.log-main-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.addlog-container .col-10,
.addlog-container .col-2 {
  padding-right: 0;
  padding-left: 0;
}

::ng-deep .p-inputgroup-addon {
  padding-left: 0;
  border: 0.0625rem solid var(--border-color);
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
  background-color: var(--bg-hover-color);
}

::ng-deep .p-inputgroup-addon:last-child {
  border-right: 0.0625rem solid var(--border-color);
}

::ng-deep .p-inputgroup-addon:hover {
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset);
  animation: pulse 2s infinite;
}

.log-container ::ng-deep .p-dropdown .p-dropdown-label.p-inputtext {
  padding-top: 0;
}

.btnChangeStatus .iconbutton-neumorphism {
  width: 2rem;
  height: 2rem;
}

.log-container .small-edit-icon,
.log-container .cancel-icon {
  padding: 0;
}

.log-container .cancel-icon i,
.log-container .small-edit-icon i {
  font-size: 0.8rem;
}

.add-note-container {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
}
