<div class="row main-row">
  <div class="col-sm-12 ">
    <h1>Settings</h1>
    <hr><br>
    <div class="row">
      <div class="col-4 ">
        <div class="caller-information-col">
          <h1>sms-messages</h1>
        </div>
      </div>
      <div class="col-4 ">
        <div class="caller-information-col">
          <h1>emails</h1>
        </div>
      </div>
      <div class="col-4 ">
        <div class="caller-information-col">
          <h1>voice-mail</h1>
        </div>
      </div>
    </div>
  </div>
</div>