<div class="admin-template-container">
  <div class="margin-bt menu-table-container">
    <button class="iconbutton-neumorphism-disabled">
      <i class="bi bi-menu-button-fill i-colored"></i>
    </button>

    <ng-container>
      <button
        class="button-neumorphism margin-lt"
        (click)="toggleCreateNewTemplate()"
      >
        <i class="bi bi-plus-square-fill"></i> Add new template
      </button>

      <div
        [ngClass]="tglCreateNewTemplate ? 'show' : 'hide'"
        class="create-template"
      >
        <div spellcheck="true">
          <form
            [formGroup]="createNewTemplateForm"
            *ngIf="createNewTemplateForm"
            novalidate
          >
            <h5>Add new template</h5>
            <div [ngClass]="!createNewTemplateForm.valid ? 'show' : 'hide'">
              *All fields must be filled out.
            </div>
            <hr />
            <div class="create-template-container">
              <div class="form-row">
                <div
                  class="col-lg-12 width-100 template-name-container no-padding-lt no-padding-rt"
                >
                  <mat-form-field appearance="standard">
                    <mat-label>Template name</mat-label>
                    <input
                      matInput
                      class="input-neumorphism"
                      type="text"
                      placeholder="Template name"
                      autocomplete="off"
                      id="templateName"
                      formControlName="templateName"
                    />
                  </mat-form-field>
                </div>
              </div>

              <div
                class="form-row"
                *ngFor="
                  let item of items;
                  let indexSection = index;
                  let first = first
                "
              >
                <div
                  class="col-lg-6 width-100 no-padding-rt no-padding-lt field-container"
                >
                  <mat-form-field appearance="standard">
                    <mat-label>Field name</mat-label>
                    <input
                      [readonly]="indexSection <= 2"
                      [ngClass]="{
                        'input-disabled-neumorphism ': indexSection <= 2
                      }"
                      matInput
                      class="input-neumorphism width-100"
                      type="text"
                      placeholder="Field name"
                      autocomplete="off"
                      id="templateName"
                      formControlName="fieldName{{ indexSection }}"
                    />
                  </mat-form-field>
                </div>
                <div
                  class="col-lg-6 width-100 no-padding-rt no-padding-lt type-container"
                >
                  <div class="form-check form-check-inline width-100">
                    <mat-form-field appearance="fill">
                      <mat-label>Field type</mat-label>
                      <mat-select
                        [disableRipple]="true"
                        [ngClass]="{
                          'input-disabled-neumorphism ': indexSection <= 2
                        }"
                        class="input-neumorphism width-100 margin-rt"
                        placeholder="Field type"
                        formControlName="fieldType{{ indexSection }}"
                      >
                        <mat-option
                          *ngFor="let type of selectElmType"
                          [value]="type.typeCode"
                        >
                          {{ type.typeName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <!-- <p-dropdown
                      [readonly]="indexSection <= 2"
                      [ngClass]="{
                        'input-disabled-neumorphism ': indexSection <= 2
                      }"
                      [options]="selectElmType"
                      class="input-neumorphism width-100 margin-rt"
                      optionLabel="typeName"
                      optionValue="typeCode"
                      placeholder="Field type"
                      formControlName="fieldType{{ indexSection }}"
                    ></p-dropdown> -->
                    <p-checkbox
                      [binary]="true"
                      label="Visible"
                      class="margin-rt"
                      checked="true"
                      [readonly]="indexSection <= 2"
                      [ngClass]="{
                        'input-disabled-neumorphism ': indexSection <= 2
                      }"
                      formControlName="fieldVisible{{ indexSection }}"
                    ></p-checkbox>
                    <button
                      [ngClass]="
                        indexSection <= 2 || indexSection == 3
                          ? 'not-visible'
                          : 'visible'
                      "
                      matTooltip="Remove this section field"
                      matTooltipPosition="above"
                      class="iconbutton-neumorphism"
                      (click)="removeClonedAddField()"
                    >
                      <i class="bi bi-node-minus-fill i-bigger"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-row width-100 no-margin">
                <div class="col-lg-11 no-padding-rt no-padding-lt margin-tp">
                  <button
                    class="button-neumorphism width-100 clone-btn no-margin"
                    (click)="cloneAddField()"
                  >
                    Add another field
                    <i class="bi bi-node-plus-fill i-bigger"></i>
                  </button>
                </div>
                <div class="col-lg-1 no-padding-lt no-padding-rt margin-tp">
                  <div class="section-add-status">
                    <div
                      *ngIf="!tglStatus"
                      class="status-btn"
                      (click)="toggleStatus()"
                    >
                      <button class="iconbutton-neumorphism tag-btn">
                        <i class="bi bi-bookmark-plus-fill"></i>
                      </button>
                      <button class="iconbutton-neumorphism badge-btn">
                        Create new status
                      </button>
                    </div>
                    <button
                      *ngIf="tglStatus"
                      class="iconbutton-neumorphism cancel-tag-btn"
                      (click)="toggleStatus()"
                      matTooltip="Cancel create status"
                      matTooltipPosition="above"
                    >
                      <i class="pi pi-times"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div *ngIf="tglStatus">
                <div class="row">
                  <h5 class="status-title">Create statuses</h5>
                </div>
                <div
                  class="form-row"
                  *ngFor="let item of itemsStatus; let indexSection = index"
                >
                  <div class="col-lg-4 section-status status-name-container">
                    <mat-form-field appearance="standard">
                      <mat-label>Status name</mat-label>
                      <input
                        matInput
                        class="input-neumorphism"
                        type="text"
                        placeholder="Status name"
                        autocomplete="off"
                        id="statusLabel"
                        formControlName="statusLabel{{ indexSection }}"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3 section-status">
                    <div
                      class="badge-status"
                      [style]="{ 'background-color': backgroundin.value }"
                    >
                      <span class="badge-val">{{ backgroundin.value }}</span>
                      <input
                        #backgroundin
                        matTooltip="Change background color"
                        matTooltipPosition="above"
                        type="color"
                        value="#e6e7ee"
                        placeholder="Background color"
                        formControlName="statusBackground{{ indexSection }}"
                      />
                    </div>
                  </div>
                  <div class="col-lg-5 section-status">
                    <div class="form-check form-check-inline width-100">
                      <div
                        class="badge-status margin-rt"
                        [style]="{ 'background-color': colorin.value }"
                      >
                        <span class="badge-val">{{ colorin.value }}</span>
                        <input
                          #colorin
                          matTooltip="Change name color"
                          matTooltipPosition="above"
                          type="color"
                          value="#333333"
                          placeholder="Name color"
                          formControlName="statusColor{{ indexSection }}"
                        />
                      </div>
                      <button
                        class="iconbutton-neumorphism remove-btn-container"
                        (click)="removeClonedAddStatus()"
                      >
                        <i class="bi bi-node-minus-fill i-bigger"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-row width-100">
                  <button
                    class="button-neumorphism width-100"
                    (click)="cloneAddStatus()"
                  >
                    Add another status
                    <i class="bi bi-node-plus-fill i-bigger"></i>
                  </button>
                </div>
              </div>

              <hr />
              <div class="form-row no-padding-rt no-padding-lt">
                <button
                  class="width-50 show-line-b txt-center"
                  (click)="saveCreateNewTemplate()"
                  [disabled]="!createNewTemplateForm.valid"
                  [ngClass]="
                    !createNewTemplateForm.valid
                      ? 'button-neumorphism-disabled'
                      : 'button-neumorphism'
                  "
                >
                  Save
                </button>
                <button
                  class="width-50 show-line-b txt-center button-neumorphism"
                  (click)="cleanCreateNewTemplate()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
        <br />
      </div>
    </ng-container>
  </div>
  <div class="row">
    <div
      *ngFor="let td of tdData; let indexTemplate = index"
      class="template-container col-lg-12"
      [ngClass]="td.templateStatus ? 'template-div-active' : ''"
    >
      <p-accordion
        [activeIndex]="indexAccordion"
        (onOpen)="onTabOpen(indexTemplate)"
        (onClose)="onTabClose(indexTemplate)"
      >
        <p-accordionTab [ngClass]="td.templateStatus ? 'template-active' : ''">
          <ng-template pTemplate="header">
            <div class="row width-100">
              <div class="col-sm-6 template-label-container">
                {{ td.templateName }}
                <p-badge
                  *ngIf="td.templateStatus"
                  class="status-active margin-lt"
                  value="Active"
                ></p-badge>
              </div>
              <div
                class="col-sm-6 d-flex justify-content-end not-visible buttons-template"
                id="buttons{{ indexTemplate }}"
              >
                <button
                  class="button-neumorphism activate-template-btn"
                  *ngIf="!td.templateStatus"
                  matTooltip="Activate this template"
                  matTooltipPosition="above"
                  (click)="activateTemplate(indexTemplate, td.templateName)"
                >
                  Activate
                </button>
                <button
                  class="button-neumorphism delete-btn"
                  [ngClass]="!td.templateStatus ? 'delete-template-btn' : ''"
                  matTooltip="Delete this template"
                  matTooltipPosition="above"
                  (click)="
                    deleteTemplate(
                      indexTemplate,
                      td.templateStatus,
                      td.templateName
                    )
                  "
                >
                  Delete
                </button>
              </div>
            </div>
          </ng-template>

          <div class="admin-template-table-container">
            <p-table
              #dataTable
              [columns]="thData"
              [value]="td.templateFields"
              [rows]="5"
              [paginator]="true"
              [rowsPerPageOptions]="[5, 10, 25, 50]"
              [(selection)]="tbSelectedRows"
              [rowHover]="true"
              dataKey="slIndex"
              editMode="row"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [showCurrentPageReport]="true"
              [loading]="loading"
              styleClass="p-datatable-gridlines"
              scrollHeight="42.857rem"
              scrollDirection="horizontal"
              responsiveLayout="scroll"
              [tableStyle]="{ width: '100%' }"
            >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th
                    *ngFor="let col of columns"
                    pSortableColumn="{{ col.field }}"
                  >
                    {{ col.title
                    }}<p-sortIcon field="{{ col.field }}"></p-sortIcon>
                    <p-columnFilter
                      type="text"
                      field="{{ col.field }}"
                      display="menu"
                    ></p-columnFilter>
                  </th>
                </tr>
              </ng-template>

              <ng-template
                pTemplate="body"
                let-rowData
                let-columns="columns"
                let-rowIndex="rowIndex"
                let-editing="editing"
              >
                <tr [pEditableRow]="rowData" id="tr{{ rowIndex }}">
                  <td *ngFor="let col of columns">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <ng-container
                          [ngSwitch]="
                            col.element_type === 'boolean'
                              ? 'checkbox'
                              : col.field === 'type'
                              ? 'selectType'
                              : -1
                          "
                        >
                          <ng-container *ngSwitchCase="'checkbox'">
                            <p-checkbox
                              [(ngModel)]="rowData[col.field]"
                              [binary]="true"
                              inputId="binary"
                            >
                            </p-checkbox>
                          </ng-container>

                          <ng-container *ngSwitchCase="'selectType'">
                            <p-dropdown
                              [options]="selectElmType"
                              class="input-neumorphism"
                              optionLabel="typeName"
                              optionValue="typeCode"
                              placeholder="Type"
                              [(ngModel)]="rowData[col.field]"
                            ></p-dropdown>
                          </ng-container>

                          <ng-container *ngSwitchDefault>
                            <mat-form-field appearance="standard">
                              <mat-label>{{ col.title }}</mat-label>
                              <input
                                matInput
                                type="{{ col.element_type }}"
                                placeholder="New {{ col.field }}"
                                [(ngModel)]="rowData[col.field]"
                                required
                              />
                            </mat-form-field>
                          </ng-container>

                          <br />
                          <small *ngIf="onValidationError" class="color-rd">
                            {{ col.title }} must be filled out.
                          </small>
                        </ng-container>
                      </ng-template>
                      <ng-template pTemplate="output">
                        <ng-container
                          [ngSwitch]="
                            col.element_type === 'boolean' ? 'checkbox' : -1
                          "
                        >
                          <ng-container *ngSwitchCase="'checkbox'">
                            <p-checkbox
                              [(ngModel)]="rowData[col.field]"
                              [binary]="true"
                              inputId="binary"
                              [readonly]="true"
                            >
                            </p-checkbox>
                          </ng-container>

                          <ng-container *ngSwitchDefault>
                            {{ rowData[col.field] }}
                          </ng-container>
                        </ng-container>
                      </ng-template>
                    </p-cellEditor>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="paginatorleft">
                <p-button
                  type="button"
                  icon="pi pi-plus"
                  styleClass="p-button-text"
                ></p-button>
              </ng-template>
              <ng-template pTemplate="paginatorright">
                <p-button
                  type="button"
                  icon="pi pi-cloud"
                  styleClass="p-button-text"
                ></p-button>
              </ng-template>
            </p-table>
          </div>
          <div class="table-status">
            <p-table
              #dataTable
              [columns]="thCustomerStatus"
              [value]="td.statuses"
              [rows]="5"
              [paginator]="true"
              [rowsPerPageOptions]="[5, 10, 25, 50]"
              [(selection)]="tbSelectedRows"
              [rowHover]="true"
              dataKey="slStatusId"
              editMode="row"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [showCurrentPageReport]="true"
              [loading]="loading"
              styleClass="p-datatable-gridlines"
              scrollHeight="42.857rem"
              scrollDirection="horizontal"
              responsiveLayout="scroll"
              [tableStyle]="{ width: '100%' }"
            >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th class="sticky-column-checkboxes sticky-checkboxes-main">
                    Actions
                  </th>
                  <th
                    *ngFor="let col of columns"
                    pSortableColumn="{{ col.field }}"
                    class="stck-head"
                  >
                    {{ col.title
                    }}<p-sortIcon field="{{ col.field }}"></p-sortIcon>
                    <p-columnFilter
                      type="text"
                      field="{{ col.field }}"
                      display="menu"
                    ></p-columnFilter>
                  </th>
                </tr>
              </ng-template>

              <ng-template
                pTemplate="body"
                let-rowData
                let-columns="columns"
                let-rowIndex="rowIndex"
                let-editing="editing"
              >
                <tr [pEditableRow]="rowData" id="tr{{ rowIndex }}">
                  <td class="sticky-column-checkboxes">
                    <button
                      pRipple
                      *ngIf="!editing"
                      type="button"
                      pInitEditableRow
                      (click)="onRowEditInit(rowData, rowIndex)"
                      class="iconbutton-neumorphism edit-icon"
                    >
                      <i class="bi bi-pencil-square"></i>
                    </button>
                    <button
                      pRipple
                      *ngIf="!editing"
                      type="button"
                      (click)="onRowDeleteRow(rowIndex, indexTemplate)"
                      class="iconbutton-neumorphism trash-icon"
                    >
                      <i class="bi bi-trash-fill"></i>
                    </button>
                    <button
                      pRipple
                      *ngIf="editing"
                      type="button"
                      pSaveEditableRow
                      (click)="onRowEditSave(rowData, rowIndex, indexTemplate)"
                      class="iconbutton-neumorphism"
                    >
                      <i class="pi pi-check"></i>
                    </button>
                    <button
                      pRipple
                      *ngIf="editing"
                      type="button"
                      pCancelEditableRow
                      (click)="onRowEditCancel(rowIndex, indexTemplate)"
                      class="iconbutton-neumorphism"
                    >
                      <i class="pi pi-times"></i>
                    </button>
                  </td>
                  <td *ngFor="let col of columns">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <ng-container
                          [ngSwitch]="
                            col.element_type === 'color' ? 'color' : -1
                          "
                        >
                          <ng-container *ngSwitchCase="'color'">
                            <div
                              class="badge-status"
                              [style]="{ 'background-color': colorin.value }"
                            >
                              <span class="badge-val">{{ colorin.value }}</span>
                              <input
                                #colorin
                                value="#e6e7ee"
                                matTooltip="Change color"
                                matTooltipPosition="above"
                                type="{{ col.element_type }}"
                                placeholder="New {{ col.field }}"
                                [(ngModel)]="rowData[col.field]"
                                required
                              />
                            </div>
                          </ng-container>

                          <ng-container *ngSwitchDefault>
                            <mat-form-field appearance="standard">
                              <mat-label>{{ col.title }}</mat-label>
                              <input
                                matInput
                                value="#333333"
                                type="{{ col.element_type }}"
                                placeholder="New {{ col.field }}"
                                [(ngModel)]="rowData[col.field]"
                                required
                              />
                            </mat-form-field>
                          </ng-container>

                          <br />
                          <small *ngIf="onValidationError" class="color-rd">
                            {{ col.title }} must be filled out.
                          </small>
                        </ng-container>
                      </ng-template>
                      <ng-template pTemplate="output">
                        <ng-container
                          [ngSwitch]="
                            col.element_type === 'color' ? 'color' : -1
                          "
                        >
                          <ng-container *ngSwitchCase="'color'">
                            <div
                              class="circle"
                              [style]="{
                                'background-color': rowData[col.field]
                              }"
                            ></div>
                            <span>{{ rowData[col.field] }}</span>
                          </ng-container>

                          <ng-container *ngSwitchDefault>
                            {{ rowData[col.field] }}
                          </ng-container>
                        </ng-container>
                      </ng-template>
                    </p-cellEditor>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer" let-columns>
                <tr
                  [formGroup]="createNewStatusForm"
                  *ngIf="createNewStatusForm"
                >
                  <td>
                    <button
                      *ngIf="!tglAddStatus"
                      matTooltip="Add new status"
                      matTooltipPosition="above"
                      (click)="toggleCreateNewStatus(indexTemplate)"
                      class="mini-iconbutton-neumorphism add-status-i"
                    >
                      <i class="bi bi-plus-lg"></i>
                    </button>
                    <button
                      *ngIf="tglAddStatus"
                      (click)="cancelCreateNewStatus(indexTemplate)"
                      class="iconbutton-neumorphism"
                    >
                      <i class="pi pi-times"></i>
                    </button>
                    <button
                      *ngIf="tglAddStatus"
                      [ngClass]="
                        !createNewStatusForm.valid
                          ? 'iconbutton-neumorphism-disabled'
                          : 'iconbutton-neumorphism'
                      "
                      (click)="saveCreateNewStatus(indexTemplate)"
                    >
                      <i class="pi pi-check"></i>
                    </button>
                  </td>
                  <td *ngFor="let col of columns">
                    <ng-container
                      *ngIf="tglAddStatus"
                      [ngSwitch]="col.element_type === 'color' ? 'color' : -1"
                    >
                      <ng-container *ngSwitchCase="'color'">
                        <div
                          class="badge-status"
                          [style]="{ 'background-color': colorin.value }"
                        >
                          <span class="badge-val">{{ colorin.value }}</span>
                          <input
                            #colorin
                            matTooltip="Change color"
                            matTooltipPosition="above"
                            type="{{ col.element_type }}"
                            placeholder="New {{ col.field }}"
                            required
                            formControlName="{{ col.field }}"
                          />
                        </div>
                      </ng-container>

                      <ng-container *ngSwitchDefault>
                        <mat-form-field appearance="standard">
                          <mat-label>{{ col.title }}</mat-label>
                          <input
                            matInput
                            type="{{ col.element_type }}"
                            placeholder="New {{ col.field }}"
                            formControlName="{{ col.field }}"
                            required
                          />
                        </mat-form-field>
                      </ng-container>

                      <br />
                      <small *ngIf="onValidationError" class="color-rd">
                        {{ col.title }} must be filled out.
                      </small>
                    </ng-container>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft">
                <p-button
                  type="button"
                  icon="pi pi-plus"
                  styleClass="p-button-text"
                ></p-button>
              </ng-template>
              <ng-template pTemplate="paginatorright">
                <p-button
                  type="button"
                  icon="pi pi-cloud"
                  styleClass="p-button-text"
                ></p-button>
              </ng-template>
            </p-table>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <p-confirmDialog rejectLabel="Cancel" acceptLabel="Accept"></p-confirmDialog>
  <p-toast life="5000" position="top-center"></p-toast>
</div>
