::ng-deep .p-button-icon-only {
  visibility: hidden;
}

::ng-deep .template-active > div > div > a {
  border-width: 0.22rem !important;
  animation: pulse 3s infinite;
}

::ng-deep .template-div-active {
  animation: pulse 3s infinite;
  border-width: 0.22rem !important;
}

.template-container {
  padding: 0.55rem 0.55rem 0.55rem 0.55rem;
  border-radius: 0.55em;
  border: 0.0625rem solid var(--border-color);
  background-color: var(--bg-color);
  box-shadow: 2px 2px 5px var(--box-shadow-inset);
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.template-name-container > ::ng-deep .mat-form-field {
  width: 96%;
}

.i-bigger {
  font-size: 1.3rem;
  vertical-align: middle;
}

.iconbutton-neumorphism {
  padding-top: 0.3rem !important;
}

::ng-deep .p-paginator-rpp-options p-dropdown p-component .p-inputtext {
  background-color: var(--bg-transparent) !important;
  border: none !important;
  box-shadow: none !important;
}

.type-container {
  margin-top: 1.9rem;
}

::ng-deep .p-dialog {
  width: 29rem !important;
}

.type-container .iconbutton-neumorphism {
  margin: 0 !important;
}

::ng-deep p-celleditor > p-dropdown > .p-dropdown,
.form-row > .type-container > .form-check > ::ng-deep p-dropdown > .p-dropdown,
::ng-deep
  .p-datatable
  .p-datatable-tfoot
  > tr
  > td
  ::ng-deep
  p-dropdown
  > .p-dropdown {
  border-bottom: none !important;
  width: 100%;
}

.form-row > .type-container > .form-check > ::ng-deep p-dropdown {
  height: 2.6rem !important;
  padding-top: 0 !important;
}

::ng-deep .input-disabled-neumorphism .p-checkbox .p-checkbox-box.p-highlight,
::ng-deep .input-disabled-neumorphism .p-dropdown,
::ng-deep .input-disabled-neumorphism .p-dropdown .p-dropdown-trigger,
::ng-deep .input-disabled-neumorphism .p-dropdown .p-dropdown-label {
  outline: 0 !important;
  box-shadow: none !important;
  cursor: default !important;
}

.form-row > div > ::ng-deep p-dropdown > .p-dropdown {
  width: 100%;
}

::ng-deep.p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight
  .p-accordion-header-link,
.p-accordion
  .p-accordion-header:not(.p-disabled)
  .p-accordion-header-link:focus {
  animation: none;
}

.admin-template-table-container
  ::ng-deep.p-datatable
  .p-datatable-thead
  > tr
  > th:first-child {
  box-shadow: inset 6px 6px 17px -10px var(--box-shadow-inset),
    inset 0px -3px 0px -2px var(--border-color) !important;
}

.table-status
  ::ng-deep
  .p-datatable
  .p-datatable-tbody
  > tr:last-child
  > td:nth-child(2) {
  box-shadow: none !important;
}

.table-status
  ::ng-deep
  .p-datatable
  .p-datatable-tbody
  > tr:first-child
  > td:first-child {
  box-shadow: inset 10px -3px 7px -9px var(--box-shadow-inset),
    inset -4px 0px 0px -2px var(--border-color),
    inset 0px 3px 0px -2px var(--border-color) !important;
}

.table-status
  ::ng-deep
  .p-datatable
  .p-datatable-tbody
  > tr:last-child
  > td:first-child {
  border-bottom-left-radius: 0 !important;
  box-shadow: inset 25px 0px 8px -24px var(--box-shadow-inset),
    inset -4px 0px 0px -2px var(--border-color),
    inset 0px 3px 0px -2px var(--border-color) !important;
}

.table-status ::ng-deep .p-datatable-table .sticky-column-checkboxes {
  position: sticky;
  background-color: var(--bg-color) !important;
  z-index: 1;
  left: 0 !important;
  box-shadow: inset 10px -3px 7px -9px var(--box-shadow-inset),
    inset -4px 0px 0px -2px var(--border-color),
    inset 0px 3px 0px -2px var(--border-color);
  border-top: none;
}

.table-status ::ng-deep .p-datatable-table .sticky-checkboxes-main {
  top: 0 !important;
  position: sticky !important;
  z-index: 2 !important;
  box-shadow: inset 9px 9px 8px -9px var(--box-shadow-inset),
    inset -4px 0px 0px -2px var(--border-color),
    inset 0px -3px 0px -2px var(--border-color) !important;
  border-top-left-radius: 1rem !important;
}

.admin-template-container {
  min-width: 576px !important;
  max-width: 100% !important;
  overflow-x: hidden !important;
  margin-bottom: 1rem !important;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

.button-neumorphism.delete-template-btn,
.button-neumorphism.activate-template-btn {
  font-size: 0.9rem;
  border-radius: 2rem;
  padding: 0.55rem 0.9rem 0.55rem 0.9rem;
}

.delete-btn {
  padding: 0.55rem 0.9rem 0.55rem 0.9rem !important;
  font-size: 0.9rem !important;
  border-radius: 2rem !important;
}

.activate-template-btn {
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.delete-template-btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.admin-template-container .row {
  margin-right: 0px;
  margin-left: 0px;
}

.table-status .badge-status {
  border-radius: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  margin-top: 1rem;
  height: 2.4rem;
  max-width: 9rem;
  margin-left: 25%;
  color: var(--box-shadow-inset-secondary);
}

.create-template .badge-status {
  border-radius: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  margin-top: 1rem;
  height: 2.4rem;
  color: var(--box-shadow-inset-secondary);
}

.circle {
  width: 2rem;
  height: 0.7rem;
  display: inline-flex;
  border-radius: 1rem;
  margin-right: 1rem;
}

.badge-status input[type="color"] {
  width: 2rem;
  color: var(--bg-transparent);
  background: var(--bg-transparent);
  border: none;
  z-index: 2;
  text-align: center;
}
.badge-val {
  display: inline-flex;
  vertical-align: super;
}
.badge-status input[type="color"]::-webkit-color-swatch {
  border: 0.0625rem solid var(--border-color);
  border-radius: 1rem;
  vertical-align: middle;
}

.create-template .badge-status,
.remove-btn-container {
  margin-top: 1.97rem !important;
}

.create-template ::ng-deep.mat-form-field {
  width: 96%;
}

.field-container ::ng-deep.mat-form-field {
  width: 91%;
}

.section-status {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.create-template
  ::ng-deep.mat-form-field-appearance-standard
  .mat-form-field-flex,
.create-template
  ::ng-deep.mat-form-field-appearance-standard
  .mat-form-field-infix {
  width: 100%;
}
.create-template .badge-status {
  width: 100% !important;
  color: var(--box-shadow-inset-secondary);
  text-align: center;
}

.create-template ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
.template-label-container {
  padding-top: 0.48rem;
}

.add-status-i {
  min-width: 3rem;
}

::ng-deep .p-datatable .p-datatable-tfoot > tr > td {
  background-color: var(--bg-color);
  border-width: 0;
  border: none;
  text-align: center;
  font-weight: normal;
  box-shadow: inset 0px -13px 9px -12px var(--box-shadow-inset-secondary);
}

::ng-deep .p-datatable .p-datatable-tfoot > tr {
  border: none;
  border-top: 0.0625rem solid var(--border-color);
  box-shadow: inset 5px 0 8px -4px var(--box-shadow-inset),
    inset -4px 0px 0px -2px var(--border-color);
}

::ng-deep .p-datatable .p-datatable-tfoot > tr > td:last-child {
  box-shadow: inset -16px -15px 10px -13px var(--box-shadow-inset-secondary);
}

::ng-deep .p-datatable .p-datatable-tfoot > tr > td:first-child {
  box-shadow: inset 0px -13px 9px -12px var(--box-shadow-inset-secondary),
    inset 24px -17px 8px -24px var(--box-shadow-inset),
    inset -4px 0px 0px -2px var(--border-color),
    inset 0px -3px 0px -2px var(--border-color);
}

.create-template-container {
  padding: 0 1rem 0 1rem;
}
.section-add-status {
  padding-top: 0.32rem !important;
}

.tag-btn,
.cancel-tag-btn {
  float: right;
  margin-top: 0 !important;
}
.badge-btn {
  display: none;
  width: 10rem !important;
  margin-top: 0 !important;
  font-weight: bold;
  float: right;
  text-align: center;
  position: absolute;
  right: 0rem;
}

.badge-btn:hover,
.badge-btn:focus {
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset);
  animation: pulse 3s infinite;
  outline: none;
}
.status-btn:hover .tag-btn,
.status-btn:focus .tag-btn {
  display: none;
}

.status-btn:hover .badge-btn,
.status-btn:focus .badge-btn {
  display: inline-flex;
}

.status-title {
  border-top: 2px dotted var(--bg-scrollbar-hover);
  border-bottom: 2px dotted var(--bg-scrollbar-hover);
  width: 100%;
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
  color: var(--txt-color);
  margin-top: 1rem;
  background-color: var(--bg-hover-color);
  border-radius: 1rem;
}

.status-name-container .input-neumorphism {
  width: 94% !important;
}

.create-template ::ng-deep .p-dropdown-items-wrapper {
  max-width: 100%;
  max-height: 11rem !important;
  background: var(--bg-color);
  font-weight: normal !important;
}

.type-container ::ng-deep .p-checkbox,
::ng-deep .p-checkbox-label {
  margin-bottom: 1.25rem;
}

::ng-deep .cdk-overlay-pane {
  left: 558.922px;
  min-width: 146.703px;
}
