<div class="phone-col ">
  <div class="form-row" spellcheck="true">
    <div class="form-check form-check-inline">
      <h6>Auto-dialer</h6>
      <label class="toggle-neumorphism">
        <input type="checkbox" checked>
        <span class="toggle-slider-neumorphism toggle-round-neumorphism"></span>
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input type="number" class="input-neumorphism" placeholder="Phone number">
      <button class="iconbutton-neumorphism"><i class="bi bi-telephone-forward-fill i-neumorphism"></i>
      </button>
    </div>
    <div class="form-check form-check-inline">
      <button class="input-neumorphism">Leave message </button>
      <button class="input-neumorphism">Send SMS text </button>
      <button class="input-neumorphism">Send email </button>
    </div>
    <div class="form-check form-check-inline">
      <button class="input-neumorphism">Move PT to pending</button>
      <button class="input-neumorphism">Go to payment page</button>
    </div>
    
  </div>
  <hr>
  <div *ngFor="let note of formnotes">
    <div>
      <h6>{{ note.patient }}</h6>
      <small>{{ note.date }}</small>
      <div>
        {{ note.content }}
      </div>
      <hr>
    </div>
  </div>
</div>