.phone-header {
  padding: 0 1rem 0 1rem;
}

.button-inline {
  margin: 0rem 0rem 1rem 0rem;
  padding: 0rem 0.44rem 0rem 0.44rem;
  width: 100%;
}

.iconbutton-neumorphism.btnCall {
  margin-left: 0.5rem;
  border-radius: 0.55rem;
  padding-left: 0.59rem;
  padding-top: 0.5rem !important;
}

.phone-history {
  height: 58rem;
  overflow-y: scroll;
}

.phone-log {
  padding: 0.55rem 1rem 0 1rem;
  border: 0.0625rem solid var(--bg-transparent);
  border-radius: 0.55rem;
  margin-top: 0.22rem;
  margin-left: 0.4rem;
}

.phone-log:hover {
  background-color: var(--bg-color);
  border: 0.0625rem solid var(--border-color);
  transition: all 0.2s ease-in-out;
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
}

h6,
p {
  margin: 0;
}

.container-neumorphism {
  padding: 1rem;
  border-radius: 0.55em;
  border: 0.0625rem solid var(--border-color);
  color: var(--txt-color);
  background-color: var(--bg-color);
  box-shadow: 2px 2px 5px var(--box-shadow-inset);
  margin-bottom: 1rem;
  animation: pulse 3s infinite;
}

.container-neumorphism:hover,
.container-neumorphism:focus {
  background-color: var(--bg-hover-transparent-color);
}

.border-bottom {
  padding-bottom: 0.44rem !important;
  border-bottom: 0.0625rem solid var(--border-color) !important;
  margin-bottom: 0.44rem;
}

.change-on-hold {
  background-color: var(--bg-hover-transparent-color);
  color: var(--toggle-bg-color);
}

.filter-notes-container {
  padding: 0rem 2rem 0rem 2rem;
}

.filter-notes-container ::ng-deep .mat-form-field {
  width: 100%;
}

.filter-notes-container {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: var(--bg-color);
  box-shadow: inset 0px -3px 0px -2px var(--border-color);
}

.phone-header ::ng-deep .p-dropdown {
  width: 85%;
  border-bottom: none !important;
}

.phone-header ::ng-deep .p-dropdown .p-dropdown-label.p-inputtext {
  color: var(--txt-color) !important;
  font-weight: 500;
}

.phone-header ::ng-deep .p-dropdown .p-dropdown-panel {
  width: 9rem;
}

.phone-log .iconbutton-neumorphism {
  width: 1.5rem;
  height: 1.8rem;
  padding: 0;
}

.phone-log i {
  font-size: 0.7rem;
}
