.phone-header{
  padding: 0px 24px 0px 24px;
}

.button-inline{
  margin: 0rem 0rem  1rem 0rem;
  padding: 0rem .44rem  0rem .44rem;
  width: 100%;
}

.iconbutton-neumorphism.btnCall{
  margin-left: 0.5rem;
  border-radius: .55rem;
  padding-left: 0.59rem;
  padding-top: 0.5rem !important;
}

.phone-history{
  height: 35.7rem;
  overflow-y: scroll;
}

.phone-log{
  padding: .55rem 2rem 0 2rem;
  border: .0625rem solid transparent;
  border-radius: .55rem;
}

.phone-log:hover {
  background-color: #e6e7ee;
  border: .0625rem solid #d1d9e6;
  transition: all .2s ease-in-out;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

h6, p {
  margin: 0;
}

.container-neumorphism{
  padding: 1rem;
  border-radius: .55em;
  border: .0625rem solid #d1d9e6;
  color: #44476a;
  background-color: #e6e7ee;
  box-shadow: 2px 2px 5px #b8b9be;
  margin-bottom: 1rem;
  animation: pulse 3s infinite;
}

.container-neumorphism:hover, 
.container-neumorphism:focus{
  background-color: rgba(38, 40, 51, 0.03);
}

.border-bottom{
  padding-bottom: .44rem !important;
  border-bottom: .0625rem solid #d1d9e6 !important;
  margin-bottom: .44rem;
}

.change-on-hold{
  background-color: rgba(38, 40, 51, 0.03);
  color: #c5c6cb;
}