::ng-deep .p-button-icon-only {
  visibility: hidden;
}

.iconbutton-neumorphism {
  padding-top: 0.3rem !important;
}

::ng-deep p-celleditor > p-dropdown > .p-dropdown,
.form-row > .type-container > .form-check > ::ng-deep p-dropdown > .p-dropdown,
::ng-deep
  .p-datatable
  .p-datatable-tfoot
  > tr
  > td
  ::ng-deep
  p-dropdown
  > .p-dropdown {
  border-bottom: none !important;
  width: auto;
}

.table-roles
  ::ng-deep
  .p-datatable
  .p-datatable-tbody
  > tr:last-child
  > td:nth-child(2) {
  box-shadow: none !important;
}

.table-roles
  ::ng-deep
  .p-datatable
  .p-datatable-tbody
  > tr:last-child
  > td:first-child {
  border-bottom-left-radius: 0 !important;
  box-shadow: inset 24px -17px 8px -24px #b8b9be,
    inset -4px 0px 0px -2px #d1d9e6 !important;
}

.table-roles
  ::ng-deep
  .p-datatable
  .p-datatable-tbody
  .sticky-column-checkboxes {
  box-shadow: inset 5px 0 5px -4px #b8b9be, inset -4px 0px 0px -2px #d1d9e6;
}

.table-roles ::ng-deep .p-datatable .p-datatable-tbody .sticky-checkboxes-main {
  box-shadow: inset 9px 9px 9px -9px #b8b9be, inset 0px -3px 0px -2px #d1d9e6,
    inset -4px 0px 0px -2px #d1d9e6 !important;
}

.add-role-i {
  min-width: 3rem;
}

::ng-deep .p-datatable .p-datatable-tfoot > tr > td {
  background-color: #e6e7ee;
  border-width: 0;
  border: none;
  text-align: center;
  font-weight: normal;
  box-shadow: inset 0px -13px 9px -12px #fff;
}

::ng-deep .p-datatable .p-datatable-tfoot > tr {
  border: none;
  border-top: 0.0625rem solid #d1d9e6;
  box-shadow: inset 5px 0 5px -4px #b8b9be, inset -4px 0px 0px -2px #d1d9e6;
}

::ng-deep .p-datatable .p-datatable-tfoot > tr > td:last-child {
  box-shadow: inset -16px -15px 10px -13px #fff;
}

::ng-deep .p-datatable .p-datatable-tfoot > tr > td:first-child {
  box-shadow: inset 0px -13px 9px -12px #fff, inset 24px -17px 8px -24px #b8b9be,
    inset -4px 0px 0px -2px #d1d9e6;
}

::ng-deep
  .selectPermissions
  .p-multiselect-panel
  .p-multiselect-header
  .p-multiselect-filter-container
  .p-inputtext {
  max-height: 2.1rem;
}

::ng-deep .selectPermissions .p-multiselect-panel .p-multiselect-header {
  max-height: 3rem;
}

::ng-deep .selectPermissions .p-multiselect .p-multiselect-panel {
  top: -46px !important;
}

::ng-deep .selectPermissions .p-multiselect-items-wrapper {
  max-height: 4rem !important;
}
