.input-neumorphism {
  padding: 0.6rem 0.75rem;
  color: var(--txt-secondary-color);
  background-color: var(--bg-color);
  border: 0.0625rem solid var(--border-color);
  transition: all 0.3s ease-in-out;
  border-radius: 0.99rem;
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
  overflow-wrap: break-word;
  -webkit-appearance: none;
  width: 100%;
}

.input-neumorphism:hover {
  outline: 0;
  box-shadow: none;
}

.input-neumorphism:focus {
  outline: 0;
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
}

.mini-input-neumorphism {
  padding: 0.55rem;
  color: var(--txt-color);
  background-color: var(--bg-color);
  border: 0.0625rem solid var(--border-color);
  transition: all 0.3s ease-in-out;
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
  overflow-wrap: break-word;
  -webkit-appearance: none;
  width: 100%;
  height: 2rem;
  font-size: small;
}

.mini-input-neumorphism:hover,
.mini-input-neumorphism:focus {
  outline: 0;
  box-shadow: none;
}

.iconbutton-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 0.75rem;
  padding-top: 1.5rem !important;
}

.iconbutton-neumorphism {
  color: var(--txt-color) !important;
  background-color: var(--bg-color);
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5em;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  border: 0.0625rem solid var(--border-color);
  box-shadow: var(--box-shadow-outside);
}

.iconbutton-neumorphism.edit-icon {
  padding-top: 0.3rem !important;
  padding-left: 0.5rem !important;
}

.iconbutton-neumorphism.trash-icon {
  padding-top: 0.4rem !important;
  padding-left: 0.5rem !important;
}

.iconbutton-neumorphism:hover,
.iconbutton-neumorphism:focus {
  outline: 0;
  animation: pulse 3s infinite;
  background-color: var(--bg-hover-color);
}

.iconbutton-neumorphism-disabled {
  color: var(--border-color) !important;
  background-color: var(--bg-color);
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  pointer-events: none;
  border: 0.0625rem solid var(--border-color);
}

.iconbutton-neumorphism-disabled .pi {
  color: var(--border-color) !important;
}

.iconbutton-neumorphism-disabled:hover,
.iconbutton-neumorphism-disabled:focus {
  outline: 0;
}

.mini-iconbutton-neumorphism {
  text-align: center;
  border-radius: 0.55em;
  border: 0.0625rem solid var(--border-color);
  color: var(--txt-color);
  background-color: var(--bg-color);
  transition: all 0.3s ease-in-out;
  overflow-wrap: break-word;
  margin-left: 0.5rem;
  height: 100%;
  width: 20%;
}

.mini-iconbutton-neumorphism:hover,
.mini-iconbutton-neumorphism:focus {
  outline: 0;
  animation: pulse 3s infinite;
  background-color: var(--bg-hover-color);
}

.i-colored {
  color: var(--txt-color) !important;
}

.button-neumorphism {
  padding: 0.55rem 0.55rem 0.55rem 0.55rem;
  text-align: center;
  border-radius: 0.55em;
  border: 0.0625rem solid var(--border-color);
  color: var(--txt-color);
  background-color: var(--bg-color);
  transition: all 0.3s ease-in-out;
  overflow-wrap: break-word;
  box-shadow: var(--box-shadow-outside);
  font-weight: 600;
  font-size: 1rem;
}

.button-neumorphism:hover,
.button-neumorphism:focus {
  box-shadow: inset var(--box-shadow-outside);
  animation: pulse 3s infinite;
  outline: none;
  background-color: var(--bg-hover-color);
}

.button-neumorphism-active {
  color: var(--txt-color) !important;
  background-color: var(--bg-color) !important;
  border: 0.0625rem solid var(--border-color) !important;
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary) !important;
}

.button-neumorphism-disabled {
  padding: 0.55rem 0.55rem 0.55rem 0.55rem;
  text-align: center;
  border-radius: 0.55em;
  border: 0.0625rem solid var(--border-color);
  color: var(--border-color);
  background-color: var(--bg-color);
  transition: all 0.3s ease-in-out;
  overflow-wrap: break-word;
  pointer-events: none;
}

.button-neumorphism-disabled:hover,
.button-neumorphism-disabled:focus {
  outline: none;
}

.toggle-neumorphism {
  position: relative;
  width: 4rem;
  height: 2rem;
}

.toggle-neumorphism input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-neumorphism-label {
  padding-right: 1rem;
}

::ng-deep
  .mat-form-field-appearance-fill
  .mat-form-field-flex
  > .mat-form-field-infix {
  padding: 0.33rem !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  text-align: center;
  border: 0.0625rem solid var(--border-color);
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-outside);
  font-weight: 600;
  font-size: 0.88rem;
  width: fit-content;
}

::ng-deep .mat-select-value {
  color: var(--txt-color);
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-label {
  margin-top: -0.2rem;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 0.55rem !important;
  padding: 0.11rem !important;
}

::ng-deep .mat-form-field-appearance-fill {
  top: 0.3rem;
  margin-left: 1rem;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-label {
  color: var(--txt-color);
}

::ng-deep .mat-select-panel:not([class*="mat-elevation-z"]) {
  background-color: var(--bg-color);
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
}

::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  color: var(--txt-color);
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-outside);
  font-weight: bold;
}

::ng-deep.mat-select-panel {
  border-radius: 1rem !important;
}

::ng-deep.mat-select-panel :first-child {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

::ng-deep.mat-select-panel :last-child {
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}

::ng-deep .mat-option.mat-active {
  background-color: var(--bg-color) !important;
  box-shadow: var(--box-shadow-outside) !important;
  border: 0.0625rem solid var(--border-color) !important;
}

::ng-deep .mat-option:hover:not(.mat-option-disabled),
.mat-option:focus:not(.mat-option-disabled) {
  background-color: var(--bg-color) !important;
  box-shadow: var(--box-shadow-outside) !important;
  border: 0.0625rem solid var(--border-color) !important;
}

::ng-deep
  .form-row
  .mat-form-field-appearance-standard
  .mat-form-field-underline {
  display: none;
}

::ng-deep .form-row .mat-form-field-label {
  left: 1rem;
  top: 1.8rem;
}

::ng-deep .filter-container .mat-form-field {
  width: 100%;
}

::ng-deep .create-group-container .mat-form-field {
  width: 100%;
}

::ng-deep .rename-group-container .mat-form-field {
  width: 100%;
  margin-top: 1rem;
}

::ng-deep.mat-form-field-infix {
  width: 100% !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  width: 12rem !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  min-width: 10.5rem;
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
  border-radius: 1rem;
  left: 0.9rem;
  top: 2rem;
  font-weight: normal;
  width: -webkit-fill-available;
  list-style-type: none;
  z-index: 5;
  padding: 0;
  cursor: pointer;
}

.dropdown-content .dropdown-content-container {
  padding: 1rem;
}

.dropdown-content :first-child {
  border-radius: 1rem 1rem 0 0;
}

.dropdown-content :last-child {
  border-radius: 0 0 1rem 1rem;
}

.dropdown-content .dropdown-content-container:hover {
  color: var(--txt-color);
  font-weight: bold;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-outside);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.button-icon {
  border-left: 0.0625rem solid var(--border-color) !important;
  padding-left: 0.55rem;
  margin-left: 0.22rem;
}

.icon-normal {
  box-shadow: none !important;
  background-color: var(--bg-color);
  border: none !important;
}

::ng-deep .p-toolbar {
  background: var(--bg-color);
  border: none;
}

::ng-deep.p-checkbox {
  width: unset;
  height: unset;
}

::ng-deep.p-checkbox .p-checkbox-box {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--bg-color);
}

::ng-deep.p-checkbox .p-checkbox-box .p-checkbox-icon {
  color: var(--txt-color);
  font-size: 1rem;
  font-weight: bold;
}

::ng-deep.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box {
  transition: ease-in-out 0.2s;
}

::ng-deep .input-disabled-neumorphism .p-checkbox .p-checkbox-box.p-highlight {
  outline: 0 !important;
  box-shadow: none !important;
  cursor: default !important;
}

::ng-deep.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border: 0.2rem solid var(--border-color);
  color: var(--txt-color);
  background-color: var(--bg-color);
}

::ng-deep.p-checkbox:not(.p-checkbox-disabled)
  .p-checkbox-box.p-highlight:hover {
  border: 0.0625rem solid var(--border-color);
  color: var(--txt-color);
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-outside);
}

::ng-deep.p-checkbox .p-checkbox-box.p-highlight {
  background-color: var(--bg-transparent);
  border: 0.0625rem solid var(--border-color);
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
}

::ng-deep.p-checkbox .p-checkbox-box {
  color: var(--border-color);
}

::ng-deep.p-dropdown .p-dropdown-panel {
  border-radius: 1rem;
  border: none;
}

::ng-deep.p-dropdown-items-wrapper {
  border-radius: 1rem;
}

::ng-deep.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none;
  border: none;
  border-bottom: 0.1rem solid var(--txt-color);
}

::ng-deep.p-dropdown:not(.p-disabled).p-focus .p-dropdown-label.p-inputtext,
::ng-deep.p-dropdown:not(.p-disabled).p-focus .p-dropdown-trigger {
  color: var(--txt-color);
}

::ng-deep.p-dropdown .p-dropdown-label.p-inputtext {
  color: var(--border-color);
}

::ng-deep.p-dropdown:hover .p-dropdown-label.p-inputtext {
  color: var(--txt-color);
}

::ng-deep.p-dropdown .p-dropdown-trigger {
  color: var(--border-color);
}

::ng-deep.p-dropdown:hover .p-dropdown-trigger {
  color: var(--txt-color);
}

::ng-deep.p-dropdown:not(.p-disabled):hover {
  border-color: none;
  border-radius: 0;
}

::ng-deep.p-inputtext {
  transition: none;
}

::ng-deep.p-dropdown {
  background: var(--bg-transparent);
  border: none;
  border-bottom: 0.1rem solid var(--border-color);
  border-radius: 0;
}

::ng-deep.p-dropdown-panel .p-dropdown-items:not(.p-dropdown-virtualscroll) {
  background-color: var(--bg-color);
}

::ng-deep .p-dropdown-item.p-ripple {
  white-space: normal;
}

::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: var(--txt-color);
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-outside);
  font-weight: bold;
}

::ng-deep.p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  color: var(--txt-color);
  background-color: var(--bg-hover-color);
  box-shadow: var(--box-shadow-outside);
}

::ng-deep.p-dropdown-items-wrapper {
  background-color: var(--bg-color);
}

::ng-deep.p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item:not(.p-highlight):not(.p-disabled) {
  background: var(--bg-transparent);
}

::ng-deep.p-dialog .p-dialog-header {
  border-bottom: none;
  color: var(--txt-color);
  background-color: var(--bg-transparent);
  padding: 1rem;
}

::ng-deep.p-dialog {
  border: 0.0625rem solid var(--border-color);
  color: var(--txt-color);
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-outside);
  border-radius: 1rem;
  width: 17rem;
  padding: 0.55rem;
}

::ng-deep.p-dialog .p-dialog-content {
  background-color: var(--bg-transparent);
  color: var(--txt-color);
}

::ng-deep.p-dialog .p-dialog-footer {
  background-color: var(--bg-transparent);
  color: var(--txt-color);
  border-top: none;
  text-align: center;
}

::ng-deep.p-button {
  padding: 0.55rem 0.55rem 0.55rem 0.55rem;
  text-align: center;
  border-radius: 0.55em;
  border: 0.0625rem solid var(--border-color);
  color: var(--txt-color);
  background-color: var(--bg-color);
  transition: all 0.3s ease-in-out;
  overflow-wrap: break-word;
  box-shadow: var(--box-shadow-outside);
  font-weight: 600;
  font-size: 1rem;
  width: 46% !important;
}

::ng-deep.p-button:enabled:hover {
  background-color: var(--bg-color);
  box-shadow: inset var(--box-shadow-outside);
  animation: pulse 3s infinite;
  outline: none;
  color: var(--txt-color);
  border: 0.0625rem solid var(--border-color);
}

::ng-deep.p-button:focus {
  background-color: var(--bg-color);
  box-shadow: inset var(--box-shadow-outside);
  animation: pulse 3s infinite;
  outline: none;
  color: var(--txt-color);
  border: 0.0625rem solid var(--border-color);
}

::ng-deep.p-component-overlay {
  background-color: var(--overlay-color);
  border-radius: 2rem;
}

::ng-deep.p-dialog .p-dialog-header-icons {
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
  border: 0.0625rem solid var(--border-color);
  border-radius: 1rem;
  background-color: var(--bg-color);
}

::ng-deep.p-dialog .p-dialog-header-icons:hover {
  box-shadow: var(--box-shadow-outside);
  animation: pulse 3s infinite;
  outline: none;
}

::ng-deep.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
  box-shadow: var(--box-shadow-outside);
  animation: pulse 3s infinite;
  outline: none;
}

::ng-deep.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  color: var(--txt-color);
}

::ng-deep.pi {
  font-weight: bold;
  line-height: 7px;
  font-size: 0.88rem;
  color: var(--txt-color);
}

::ng-deep.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: var(--error-color);
}

::ng-deep.mat-focused .mat-form-field-required-marker {
  color: var(--error-hover-color);
}

::ng-deep.mat-form-field.mat-form-field-invalid
  .mat-form-field-label
  .mat-form-field-required-marker {
  color: var(--error-hover-color) !important;
}

.onValidationContainer {
  background-color: var(--bg-color);
  box-shadow: inset var(--box-shadow-outside);
  overflow-y: hidden;
  border-radius: 1rem;
  border: 0.1rem solid var(--border-color);
  padding: 0.55rem;
  width: 100%;
  margin-bottom: 2rem;
  color: var(--txt-color);
}

::ng-deep .p-accordion .p-accordion-content {
  padding: 0.55rem;
  border: 0.0625rem solid var(--border-color);
  background: var(--bg-color);
  color: var(--txt-color);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

::ng-deep .p-fieldset {
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
  border: 0.0625rem solid var(--border-color);
  background: var(--bg-color);
  color: var(--txt-color);
  border-radius: 1rem;
}

::ng-deep .p-fieldset.p-fieldset-toggleable .p-fieldset-legend {
  box-shadow: var(--box-shadow-outside);
  border: 0.0625rem solid var(--border-color);
  background: var(--bg-color);
  color: var(--txt-color);
  border-radius: 1rem;
}

::ng-deep .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:hover,
::ng-deep .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:focus {
  background-color: var(--bg-hover-color);
  animation: pulse 3s infinite;
  outline: none;
  box-shadow: var(--box-shadow-outside);
  text-decoration: none;
  border-radius: 1rem;
}

::ng-deep
  .p-accordion
  .p-accordion-header:not(.p-highlight):not(.p-disabled):hover
  .p-accordion-header-link {
  background-color: var(--bg-hover-color);
  animation: none;
  text-decoration: none;
  color: var(--txt-secondary-color);
}

::ng-deep.mat-form-field-ripple {
  background-color: var(--txt-color);
}

::ng-deep.mat-select-disabled .mat-select-value,
::ng-deep.mat-select-arrow {
  color: var(--txt-secondary-color);
}

::ng-deep.mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
  color: var(--txt-label-color);
}

::ng-deep.p-checkbox-label {
  color: var(--txt-secondary-color);
}
::ng-deep
  .p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight:hover
  .p-accordion-header-link,
::ng-deep.p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight
  .p-accordion-header-link,
::ng-deep
  .p-accordion
  .p-accordion-header:not(.p-disabled)
  .p-accordion-header-link:focus {
  box-shadow: none;
  border: 0.0625rem solid var(--border-color);
  background-color: var(--bg-hover-color);
  color: var(--txt-color);
  outline: none;
  text-decoration: none;
}

::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
  box-shadow: none;
  border: 0.0625rem solid var(--border-color);
  background: var(--bg-color);
  color: var(--txt-color);
  border-radius: 1rem;
}

::ng-deep.p-fileupload .p-fileupload-buttonbar {
  padding: 0.55rem;
  border-radius: 0.55em 0em 0em 0em;
  border: 0.0625rem solid var(--border-color);
  background-color: var(--bg-color);
}

::ng-deep.p-fileupload-choose:not(.p-disabled):active {
  background-color: var(--bg-color);
  color: var(--txt-color);
  border: 0.0625rem solid var(--border-color);
}

::ng-deep.p-fileupload-choose:not(.p-disabled):hover {
  background-color: var(--bg-color);
  color: var(--txt-color);
  border: 0.0625rem solid var(--border-color);
  animation: pulse 3s infinite;
}

::ng-deep.p-fileupload .p-fileupload-content {
  background-color: var(--bg-color);
  color: var(--txt-color);
  border: 0.0625rem solid var(--border-color);
  padding: 0.55rem;
  border-bottom-right-radius: 0.55rem;
  border-bottom-left-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
}

::ng-deep.p-progressbar .p-progressbar-value {
  border: 0 none;
  margin: 0;
  background: var(--txt-color);
}

::ng-deep.p-multiselect {
  width: min-content;
}

::ng-deep.p-multiselect {
  border-radius: 0.55em;
  border: 0.0625rem solid var(--border-color);
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-outside);
}

::ng-deep.p-multiselect:not(.p-disabled):hover {
  color: var(--txt-color);
  border-color: var(--border-color);
  outline: 0;
  animation: pulse 3s infinite;
}

::ng-deep .p-multiselect-filter.p-inputtext:enabled:hover {
  color: var(--txt-color);
  border-color: var(--border-color);
  outline: 0;
  animation: pulse 3s infinite;
}

::ng-deep.p-multiselect-panel .p-multiselect-header {
  padding: 0.55rem 0.55rem 0.55rem 0.55rem;
  border: 0.0625rem solid var(--border-color);
  background-color: var(--bg-color);
  margin: 0;
  border-top-right-radius: 0.55em;
  border-top-left-radius: 0.55em;
}

::ng-deep.p-multiselect-panel
  .p-multiselect-items
  .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
  color: var(--txt-color);
  border: 0.0625rem solid var(--border-color);
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-outside);
}

::ng-deep.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  color: var(--txt-color);
  background: none;
}

::ng-deep.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
  box-shadow: none;
}

::ng-deep
  .p-multiselect-panel
  .p-multiselect-header
  .p-multiselect-close:focus {
  box-shadow: none;
}

::ng-deep
  .p-multiselect-panel
  .p-multiselect-header
  .p-multiselect-close:enabled {
  color: var(--txt-color);
  background-color: var(--bg-color);
  border: 0.0625rem solid var(--border-color);
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
}

::ng-deep
  .p-multiselect-panel
  .p-multiselect-header
  .p-multiselect-close:enabled:hover {
  color: var(--txt-color);
  background-color: var(--bg-color);
  border: 0.0625rem solid var(--border-color);
  box-shadow: var(--box-shadow-outside);
}

::ng-deep.p-multiselect-panel {
  border: 0.0625rem solid var(--border-color);
  background-color: var(--bg-color);
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary) !important;
}

::ng-deep.p-multiselect-panel
  .p-multiselect-items
  .p-multiselect-item.p-highlight {
  color: var(--txt-color);
  border: 0.0625rem solid var(--border-color);
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-outside);
}

::ng-deep .p-multiselect-filter.p-inputtext {
  padding: 0.6rem 0.75rem;
  color: var(--txt-color);
  background-color: var(--bg-color);
  border: 0.0625rem solid var(--border-color);
  transition: all 0.3s ease-in-out;
  border-radius: 0.99rem;
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
  overflow-wrap: break-word;
  -webkit-appearance: none;
}

::ng-deep .p-multiselect-filter.p-inputtext:enabled:focus {
  outline: 0;
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
  border: 0.0625rem solid var(--border-color);
}

::ng-deep.p-multiselect-filter-icon {
  top: 58% !important;
}

::ng-deep.p-multiselect .p-multiselect-panel {
  border-radius: 0.55em;
}

::ng-deep .mat-chip-list-wrapper {
  flex-wrap: inherit !important;
  overflow-x: auto;
  width: max-content;
  max-width: 100%;
}

::ng-deep .mat-chip.mat-standard-chip {
  background-color: var(--bg-color);
  border: 0.0625rem solid var(--border-color);
  color: var(--txt-color);
  padding: 1.6rem 1rem 1.6rem 1rem;
  border-radius: 2rem;
  pointer-events: none;
}

::ng-deep.mat-chip.mat-standard-chip::after {
  background: #0000;
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.42) 0%,
    rgba(0, 0, 0, 0.42) 33%,
    var(--bg-transparent) 0%
  );
  background-size: 4px 100%;
  background-repeat: repeat-x;
  background-color: var(--bg-transparent);
}

::ng-deep .p-toast .p-toast-message .p-toast-message-content span.pi {
  padding-right: 0.6rem !important;
  line-height: 3.6rem !important;
}

::ng-deep
  .p-toast
  .p-toast-message.p-toast-message-success
  .p-toast-message-content
  span.pi {
  color: var(--success-color);
}

::ng-deep .p-toast .p-toast-message {
  background-color: var(--bg-color);
  color: var(--txt-color);
  border: solid var(--txt-color);
  box-shadow: 6px 6px 12px var(--box-shadow-inset),
    -6px -6px 12px var(--box-shadow-inset-secondary);
}

::ng-deep .p-toast .p-toast-message.p-toast-message-success {
  color: var(--success-color);
  background-color: var(--bg-color);
  border-left: 1rem solid var(--success-color);
}

::ng-deep .p-toast .p-toast-message.p-toast-message-error {
  color: var(--error-color);
  background-color: var(--bg-color);
  border-left: 1rem solid var(--error-color);
}
::ng-deep
  .p-toast
  .p-toast-message.p-toast-message-error
  .p-toast-message-content
  span.pi {
  color: var(--error-color);
}

textarea:focus-visible {
  outline: none !important;
}
::ng-deep .p-toast .p-toast-message .p-toast-icon-close {
  min-width: 9%;
}
::ng-deep .p-toast .p-toast-message .p-toast-icon-close:focus {
  box-shadow: none;
  background-color: var(--bg-color);
  border: 0.0625rem solid var(--border-color);
}

::ng-deep .p-toast .p-toast-message .p-toast-icon-close:hover {
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
  background-color: var(--bg-color);
  border: 0.0625rem solid var(--border-color);
}

::ng-deep
  .p-toast
  .p-toast-message
  .p-toast-icon-close
  .p-toast-icon-close-icon {
  padding-left: 0.6rem;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--txt-color);
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: var(--toggle-bg-color);
}

::ng-deep .mat-slide-toggle:hover .mat-slide-toggle-bar {
  background-color: var(--toggle-slide-bg-color);
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-bar {
  border: 0.0625rem solid var(--border-color);
  background-color: var(--toggle-bg-color);
}

::ng-deep .mat-slide-toggle.mat-checked:hover .mat-slide-toggle-bar {
  background-color: var(--toggle-slide-hover-bg-color);
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  border: 0.0625rem solid var(--border-color);
  background-color: var(--txt-color);
}

::ng-deep .mat-slide-toggle-ripple.mat-ripple {
  display: none;
}

::ng-deep .p-inputtext:enabled:hover {
  border-color: var(--border-color);
}

::ng-deep .p-inputtext:enabled:focus {
  border-color: var(--border-color);
}

::ng-deep .p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

::ng-deep.p-scrolltop.p-link {
  background-color: var(--bg-color);
  border: 0.0625rem solid var(--border-color);
  box-shadow: none;
}

::ng-deep.p-scrolltop.p-link:hover {
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
  background-color: var(--bg-color);
}

::ng-deep.p-scrolltop .p-scrolltop-icon {
  color: var(--txt-color);
}

.status-active ::ng-deep.p-badge.p-component {
  background: var(--success-color);
  color: var(--box-shadow-inset-secondary);
}
::ng-deep .p-badge {
  background: var(--bg-color);
  color: var(--txt-secondary-color);
  min-width: max-content;
}
::ng-deep.p-badge.p-component {
  background: var(--bg-color);
  color: var(--txt-secondary-color);
}

::ng-deep.p-datatable .p-datatable-loading-overlay {
  z-index: 10 !important;
}

::ng-deep
  .p-toast
  .p-toast-message.p-toast-message-error
  .p-ripple.p-element.p-toast-icon-close {
  width: 3.4rem;
}

::ng-deep .p-listbox {
  padding: 0.55rem;
  padding-right: 0;
  border: none;
  padding-top: 0;

  background: var(--bg-color);
  color: var(--txt-color);
  border-radius: 0;
}

::ng-deep .p-listbox .p-listbox-header {
  background: var(--bg-color);
  border-bottom: none;
  padding-right: 0;
  padding-top: 0;
}

::ng-deep.p-listbox .p-listbox-list .p-listbox-item {
  padding-right: 0;
}

::ng-deep.p-listbox .p-listbox-list .p-listbox-item.p-highlight {
  color: var(--txt-secondary-color);
  background: var(--bg-color);
}

::ng-deep.p-listbox .p-listbox-list .p-listbox-item {
  border-radius: 1rem;
}

::ng-deep.p-listbox:not(.p-disabled)
  .p-listbox-item:not(.p-highlight):not(.p-disabled):hover {
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
  background: var(--bg-color);
}

::ng-deep.p-listbox .p-listbox-list .p-listbox-item:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
  background: var(--bg-color);
}

::ng-deep .mat-form-field-type-mat-select .mat-form-field-label-wrapper {
  top: -0.5rem;
  padding-top: 0;
  text-align: left !important;
  font-weight: normal !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border: none !important;
  background-color: var(--bg-transparent) !important;
  box-shadow: none !important;
}

::ng-deep .mat-select-arrow-wrapper {
  height: 0px !important;
}

::ng-deep
  .mat-form-field-type-mat-select.mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.7rem) scale(0.9) !important;
  width: 40.333333% !important;
}

::ng-deep.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label,
::ng-deep.mat-form-field-empty.mat-form-field-label {
  color: var(--txt-label-color) !important;
}

::ng-deep .mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: var(--border-color);
}

::ng-deep .p-dropdown-item span {
  color: var(--txt-secondary-color) !important;
}

::ng-deep .mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
  color: var(--error-color) !important;
}

::ng-deep .mat-form-field-type-mat-select.mat-form-field-appearance-fill {
  top: -15px;
}

::ng-deep .mat-select.input-neumorphism {
  height: 2.42rem;
  border-radius: 1.1rem;
}

::ng-deep .mat-form-field-type-mat-select .mat-form-field-label {
  left: 1.4rem;
}

::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  box-shadow: none;
  border-color: var(--border-color);
}
