::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  color: var(--txt-color);
  border: 0.0625rem solid var(--border-color);
  border-top-left-radius: 0.55rem;
  border-top-right-radius: 0.55rem;
  background-color: var(--bg-color);
  font-weight: normal;
}

::ng-deep.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background-color: var(--bg-color);
  border: 0.0625rem solid var(--border-color);
  color: var(--txt-color);
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
  font-weight: bold;
}

::ng-deep.p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem
  .p-menuitem-link:not(.p-disabled):focus {
  box-shadow: none;
  animation: pulse 3s infinite;
}

::ng-deep.p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover
  .p-menuitem-link {
  border: 0.0625rem solid var(--border-color);
  color: var(--txt-color);
  background-color: var(--bg-color);
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 5px var(--box-shadow-inset);
  text-decoration: none;
  font-size: bold;
  animation: pulse 3s infinite;
}

::ng-deep.p-tabmenu .p-tabmenu-nav {
  padding-top: 0.55rem;
  padding-left: 0.55rem;
}

.admin-navbar-container {
  min-width: 804px !important;
  max-width: 100% !important;
  overflow-x: hidden !important;
  margin-bottom: 1rem !important;
}
