<div class="row main-row">
  <div class="col-lg-12">
    <div class="form-check form-check-inline width-100">
      <!-- <i class="bi bi-record2-fill online-icon" [ngClass]="tglState ? 'on' : 'off'"></i> -->
      <h1>Text Messages</h1>
    </div>
    <hr />
    <br />
    <div class="row">
      <div class="col-lg-9 margin-bt">
        <div class="chats-col">
          <div class="row chats-view">
            <div
              class="col-lg-6 chat-p"
              (click)="filterPendingChat()"
              id="chat-v-pending"
              *ngIf="pendingChats"
            >
              <span
                class="chat-tab"
                matTooltip="Show non-answered chats only"
                matTooltipPosition="above"
              >
                <i class="bi bi-exclamation-square margin-rt color-pr"></i>
                Pending ({{ pendingChats.length }})
              </span>
            </div>
            <div
              class="col-lg-6 chat-a"
              (click)="filterActiveChat()"
              id="chat-v-active"
              *ngIf="activeChats"
            >
              <span
                class="chat-tab"
                matTooltip="Show active chats only"
                matTooltipPosition="above"
              >
                <i class="bi bi-chat-square-dots margin-rt color-pr"></i>Active
                ({{ activeChats.length }})
              </span>
            </div>
          </div>
          <div class="chats-container">
            <div class="row filter-chat-container">
              <div
                class="col-lg-12"
                [ngClass]="searchChatInput.value ? 'filter-active' : ''"
              >
                <mat-form-field appearance="standard" class="width-100">
                  <mat-label>Search chat</mat-label>
                  <input
                    matInput
                    #searchChatInput
                    type="text"
                    [formControl]="searchChat"
                    (keyup)="filterChat()"
                    placeholder="MRN, Full name"
                  />
                </mat-form-field>
              </div>
            </div>
            <div
              class="row accordion-chat"
              *ngFor="let chat of chats; let i = index"
            >
              <div class="col-lg-12">
                <p-accordion (onClose)="onTabClose(i)" (onOpen)="onTabOpen(i)">
                  <p-accordionTab>
                    <ng-template pTemplate="header">
                      <div class="form-check form-check-inline width-100">
                        <i
                          class="bi bi-chat-right-text-fill margin-rt color-pr"
                        ></i>
                        <h6 class="width-100 chat-name">{{ chat.fullname }}</h6>
                        <p-badge
                          class="status-active float-rt"
                          value="Unread ({{ chat.unreadSMS }})"
                          *ngIf="chat.unreadSMS > 0"
                        ></p-badge>
                        <button
                          id="btnRemove{{ i }}"
                          (click)="removeChat(i)"
                          class="btn-close-simple hide"
                          matTooltip="Remove from {{ filterTab }}"
                          matTooltipPosition="above"
                        >
                          <i class="bi bi-x-circle-fill float-rt color-pr"></i>
                        </button>
                      </div>

                      <ng-container
                        *ngFor="let chatLast of chat.smsText; let last = last"
                      >
                        <div
                          id="previewLast{{ i }}"
                          class="form-check form-check-inline width-100"
                          *ngIf="last && chat.smsText"
                        >
                          <i
                            class="bi bi-check margin-rt"
                            *ngIf="chatLast.method == 'sent'"
                            matTooltip="Sent"
                            matTooltipPosition="below"
                          ></i>
                          <i
                            class="bi bi-exclamation-circle margin-rt"
                            matTooltip="Waiting answer"
                            matTooltipPosition="below"
                            *ngIf="chatLast.method !== 'sent'"
                          ></i>

                          <div
                            class="form-check form-check-inline width-100"
                            *ngIf="last"
                          >
                            <small class="width-100 preview-msg"
                              >{{ chatLast.message }}
                            </small>
                            <small class="txt-rt width-100">{{
                              chatLast.timestamp.toMillis()
                                | date: "MMM dd yyyy , h:mm a"
                            }}</small>
                          </div>
                        </div>
                      </ng-container>
                    </ng-template>

                    <div class="sms-main-container" id="chat{{ i }}">
                      <div
                        *ngFor="
                          let sms of chat.smsText;
                          let i = index;
                          let first = first
                        "
                      >
                        <div class="row no-margin" *ngIf="first">
                          <div class="col-lg-12 txt-center margin-tp margin-bt">
                            <small class="msg-date"
                              ><b>{{
                                sms.timestamp.toMillis() | date: "MMMM dd, YYYY"
                              }}</b>
                            </small>
                          </div>
                        </div>
                        <div
                          class="row no-margin"
                          *ngIf="
                            !first &&
                            (sms.timestamp.toMillis() | date: 'yyyy/MM/dd') !==
                              (chat.smsText[i - 1].timestamp.toMillis()
                                | date: 'yyyy/MM/dd')
                          "
                        >
                          <div class="col-lg-12 txt-center margin-tp margin-bt">
                            <small
                              class="msg-date"
                              *ngIf="
                                (sms.timestamp.toMillis()
                                  | date: 'yyyy/MM/dd') !==
                                yesterdayDate.format('yyyy/MM/DD')
                              "
                              ><b>{{
                                sms.timestamp.toMillis() | date: "MMMM dd, YYYY"
                              }}</b>
                            </small>
                            <small
                              class="msg-date"
                              *ngIf="
                                (sms.timestamp.toMillis()
                                  | date: 'yyyy/MM/dd') ==
                                yesterdayDate.format('yyyy/MM/DD')
                              "
                              ><b>Yesterday</b></small
                            >
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <button
                              (click)="!sms.method ? resendSMS(i) : ''"
                              matTooltip="Resend SMS"
                              matTooltipPosition="above"
                              class="iconbutton-neumorphism float-rt resend-icon"
                              [ngClass]="!sms.method ? 'show' : 'hide'"
                            >
                              <i class="bi bi-arrow-clockwise color-pr"></i>
                            </button>

                            <p
                              class="sms-container"
                              [ngClass]="[
                                sms.method == 'sent' ? 'float-rt' : 'float-lf',
                                sms.method == 'sent'
                                  ? 'border-bt-rt'
                                  : 'border-bt-lt'
                              ]"
                            >
                              {{ sms.message }}
                              <br />
                              <small
                                class="small-sms"
                                [ngClass]="[
                                  sms.method == 'sent' ? 'txt-rt' : 'txt-lf',
                                  sms.method == 'received' ? 'padding-bt' : ''
                                ]"
                              >
                                {{ sms.timestamp.toMillis() | date: "h:mm a" }}
                                <span
                                  ><i
                                    class="bi bi-check color-gr"
                                    *ngIf="sms.method"
                                  ></i>
                                  <i
                                    class="bi bi-exclamation-triangle-fill color-rd"
                                    *ngIf="!sms.method"
                                  ></i>
                                  <br />
                                  <small class="color-rd" *ngIf="!sms.method"
                                    ><i>
                                      Message couldn't be sent. Please try
                                      again.</i
                                    ></small
                                  >
                                </span>
                              </small>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row form-sms">
                      <div class="p-inputgroup col-11">
                        <textarea
                          rows="1"
                          cols="100"
                          pInputTextarea
                          class="input-neumorphism txtMessage"
                          [autoResize]="true"
                          placeholder="Type a message"
                          [formControl]="txtMessage"
                        ></textarea>
                      </div>
                      <div class="col-1 btnsave-container">
                        <button
                          (click)="sendSMS(chat)"
                          class="btn-sms"
                          matTooltip="Send message"
                          matTooltipPosition="above"
                          [disabled]="!txtMessage.valid"
                          [ngClass]="
                            !txtMessage.valid
                              ? 'button-neumorphism-disabled'
                              : 'button-neumorphism'
                          "
                        >
                          <i class="bi bi-telegram"></i>
                        </button>
                      </div>
                    </div>
                  </p-accordionTab>
                </p-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="contacts-main-col">
          <div
            class="form-row gp-list-container"
            [ngClass]="tglContacts ? 'visible' : 'not-visible'"
          >
            <div class="col-md-auto group-row btn-group-col">
              <button
                class="button-neumorphism default"
                matTooltip="Active group"
                matTooltipPosition="above"
                [ngClass]="tbGroupActive.length < 1 ? 'show' : 'hide'"
              >
                All
              </button>

              <button
                class="button-neumorphism"
                *ngFor="let gp of tbGroupActive"
                (click)="removeGroupSelected(gp.group_id)"
                matTooltip="Delete active group"
                matTooltipPosition="above"
              >
                {{ gp.group_name | formatLabel }}
                <span class="iconBtn">
                  <i class="bi bi-x-circle-fill color-pr"></i>
                </span>
              </button>
            </div>
            <div
              class="col-md-1 group-row select-group-col drop-group"
              matTooltip="Select group to call"
              matTooltipPosition="above"
            >
              <span class="padding-rt">
                <p-dropdown
                  placeholder="Groups"
                  [options]="tbGroups"
                  [formControl]="groupSelected"
                  optionValue="group_id"
                  optionLabel="group_name"
                  (onChange)="getGroupSelected()"
                ></p-dropdown>
              </span>
            </div>
          </div>
          <div class="contacts-col" [ngClass]="tglContacts ? 'show' : 'hide'">
            <div class="contacts-list">
              <p-listbox
                [options]="contacts"
                [(ngModel)]="contactSelection"
                [metaKeySelection]="false"
                [checkbox]="true"
                [multiple]="true"
                optionLabel="fullname"
                [listStyle]="{ 'max-height': '100%' }"
              >
                <ng-template pTemplate="filter" let-options="options">
                  <mat-form-field appearance="standard">
                    <mat-label>Search contact</mat-label>
                    <input
                      matInput
                      type="text"
                      [formControl]="searchContact"
                      (keyup)="filterContact()"
                      placeholder="MRN, Full name, Phone number"
                    />
                  </mat-form-field>
                  <div
                    [ngClass]="contactSelection ? 'show' : 'hide'"
                    class="float-rt"
                  >
                    <span
                      class="drop-msg-massive"
                      matTooltip="Send massive SMS"
                      matTooltipPosition="above"
                    >
                      <p-dropdown
                        [options]="optSMS"
                        class="width-100 margin-rt"
                        (onChange)="sendMassiveSMS($event)"
                        optionLabel="templateName"
                        optionValue="templateId"
                        placeholder="Massive SMS"
                        [formControl]="smsMassive"
                      ></p-dropdown>
                    </span>
                  </div>
                </ng-template>
                <ng-template let-log pTemplate="item" let-i="index">
                  <div
                    class="phone-log width-100"
                    (click)="startNewChat(i, contacts)"
                    matTooltip="Start chat with {{ log.fullname }}"
                    matTooltipPosition="above"
                  >
                    <div
                      class="form-check form-check-inline width-100"
                      id="{{ i }}"
                    >
                      <h6 class="width-100" id="{{ i }}">{{ log.fullname }}</h6>
                    </div>
                    <h6 class="width-100 not-bold" id="{{ i }}">
                      {{ this.DataService.formatPhoneNumber(log.phonenumber) }}
                    </h6>
                    <hr class="margin-rt" />
                  </div>
                </ng-template>
              </p-listbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-scrollTop [threshold]="200"></p-scrollTop>
<p-confirmDialog rejectLabel="Cancel" acceptLabel="Accept"></p-confirmDialog>
<p-toast life="5000" position="top-center"></p-toast>
