.row {
  margin-right: 0;
  margin-left: 0;
}

.main-row {
  margin-left: 9rem;
  margin-right: 5rem;
  margin-top: 2.5rem;
  height: max-content;
}

.online-icon {
  font-size: 3rem;
  padding-bottom: 0.4rem;
}

.resend-icon {
  box-shadow: none !important;
  background-color: var(--bg-transparent) !important;
  border: none !important;
}

.icon-over {
  position: absolute;
  right: 1.05rem;
  background-color: var(--bg-hover-color);
  display: none;
}

.btn-contacts:hover .icon-over {
  display: inline;
}

.contacts-list {
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 0.1rem;
  border: 0.1rem solid var(--border-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 28rem;
  min-height: 100%;
}

.contacts-main-col {
  height: 100%;
}

.chats-col {
  height: 100%;
  border-radius: 1rem;
  border: none;
}
.menu-container .col-lg-2 {
  padding-left: 0;
  padding-right: 0;
}

.menu-container .col-lg-10 {
  padding-left: 0;
}

::ng-deep
  .p-listbox
  .p-listbox-header
  .mat-form-field-appearance-standard
  .mat-form-field-flex {
  padding-top: 0 !important;
}

.menu-container .button-neumorphism {
  padding: 0.4rem 0.55rem 0.4rem 0.55rem;
}

.gp-list-container ::ng-deep .p-dropdown .p-dropdown-panel {
  left: -2.6rem !important;
  width: 6.5rem;
}

.gp-list-container ::ng-deep .p-dropdown-item {
  white-space: normal;
  overflow-wrap: break-word;
}

.gp-list-container ::ng-deep .p-dropdown .p-dropdown-label.p-inputtext {
  content-visibility: hidden !important;
}

.gp-list-container ::ng-deep .p-dropdown {
  border: none !important;
  left: 50%;
  margin: -25px 0 0 -28px;
  top: 25%;
}

.gp-list-container .button-neumorphism.default:hover {
  color: var(--toggle-slide-hover-bg-color) !important;
}

.gp-list-container .btn-group-col {
  overflow-y: auto;
  display: inline-flex;
  width: auto;
  max-width: 91.7%;
  border-top-left-radius: 1rem;
  white-space: nowrap !important;
}

.gp-list-container .select-group-col {
  /* box-shadow: -3px 0px 10px 0px var(--border-color); */
  border-top-right-radius: 1rem;
  max-width: 10%;
}

.gp-list-container .group-row {
  padding: 0 !important;
  border: 0.1rem solid var(--border-color);
  border-bottom: none !important;
}

.gp-list-container .button-neumorphism {
  box-shadow: none !important;
  border-radius: 0 !important;
  width: max-content !important;
  word-break: normal !important;
  display: inline-flex;
  border: none !important;
  border-right: 0.1rem solid var(--border-color) !important;
  transition: background-color 200ms, color 200ms !important;
  align-items: center;
  justify-content: center;
}

.gp-list-container .button-neumorphism:hover {
  background-color: var(--bg-hover-color);
  color: var(--toggle-slide-bg-color) !important;
}

.gp-list-container .iconBtn {
  position: absolute;
  visibility: hidden;
  color: var(--bg-transparent);
  transition: font-size 200ms, color 100ms;
  font-size: 0;
  transition-timing-function: ease-in-out;
}

.gp-list-container .button-neumorphism:hover .iconBtn {
  visibility: visible;
  color: var(--txt-color);
  font-size: 1.3rem;
}

.gp-list-container {
  margin: 0 !important;
  padding: 0 !important;
  flex-wrap: nowrap !important;
  width: 100%;
  max-width: 100%;
  height: 3rem;
}

.chats-view .col-lg-6 {
  padding: 0.5rem;
  text-align: center;
}

.chats-view {
  border: 0.0625rem solid var(--border-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.chats-view .col-lg-6:hover,
.chats-view .col-lg-6:focus {
  outline: 0;
  animation: pulse 3s infinite;
  background-color: var(--bg-hover-color);
}

.chat-tab {
  width: 100%;
  text-align: center;
  color: var(--txt-color);
  font-weight: bold;
}

.sms-container {
  background-color: var(--bg-hover-color);
  border: 0.0625rem solid var(--border-color);
  border-radius: 1.6rem;
  padding: 1rem 2rem 1rem 2rem;
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90%;
  overflow-wrap: anywhere;
  min-height: 4.8rem;
  box-shadow: 2px 2px 5px var(--box-shadow-inset),
    -1px -1px 10px var(--box-shadow-inset-secondary);
}

.accordion-chat ::ng-deep .p-accordion .p-accordion-content {
  padding: 0 !important;
  border-bottom: none !important;
}

.accordion-chat
  ::ng-deep
  .p-accordion
  .p-accordion-header
  .p-accordion-header-link {
  box-shadow: none;
  border: none;
  border-bottom: 0.0625rem solid var(--border-color);
  background: var(--bg-color);
  color: var(--txt-color);
  flex-flow: wrap;
  border-radius: 0rem;
}

.accordion-chat
  ::ng-deep
  .p-accordion
  .p-accordion-header
  .p-accordion-header-link
  .p-accordion-toggle-icon {
  display: none;
}

.accordion-chat
  ::ng-deep.p-accordion
  .p-accordion-header:not(.p-disabled)
  .p-accordion-header-link:focus {
  box-shadow: none;
  background-color: var(--bg-color);
  animation: none;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-decoration: none;
}

.accordion-chat
  ::ng-deep
  .p-accordion
  .p-accordion-header:not(.p-highlight):not(.p-disabled):hover
  .p-accordion-header-link {
  animation: none;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px var(--box-shadow-inset),
    0px 0px 7px var(--box-shadow-inset-secondary);
}

.accordion-chat
  ::ng-deep
  .p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight:hover
  .p-accordion-header-link {
  background-color: var(--bg-hover-color);
}

.accordion-chat
  ::ng-deep
  .p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight
  .p-accordion-header-link {
  box-shadow: none;
  background-color: var(--bg-color);
  animation: none;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-decoration: none;
}

.sms-main-container {
  background-image: url("../../../assets/img/chat-back.png") !important;
  min-height: 100%;
  overflow: auto;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  max-height: 24rem;
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary) !important;
}

.form-sms {
  background-color: var(--bg-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top: none;
}

.form-sms .col-11,
.form-sms .col-1 {
  padding: 0;
}

.btn-sms {
  padding: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  width: 100%;
  box-shadow: none !important;
  border-right: none !important;
}

.btn-sms:hover {
  box-shadow: none !important;
  background-color: var(--bg-hover-color);
}

.btn-sms i {
  font-size: 1.3rem;
}

.btnsave-container {
  display: flex;
}

.txtMessage {
  max-height: 7rem;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-left: none !important;
  border-right: none !important;
}

.margin-left-20 {
  margin-left: 20%;
}

.view-active {
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary) !important;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.small-sms {
  color: var(--toggle-bg-color);
}

.border-bt-lt {
  border-top-left-radius: 0;
}

.border-bt-rt {
  border-top-right-radius: 0;
}

.menu-container ::ng-deep .p-dropdown {
  border-bottom: none;
}

.menu-container ::ng-deep.p-dropdown:not(.p-disabled).p-focus {
  border-bottom: none !important;
}

.contacts-list ::ng-deep.p-listbox-header {
  padding-top: 0.8rem;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  box-shadow: 0px 8px 0px -7px var(--border-color);
  z-index: 2;
}

.filter-chat-container {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  box-shadow: 0px 8px 0px -7px var(--border-color);
  z-index: 2;
  margin-bottom: 0.3rem;
}

.chats-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.txt-rt {
  float: right;
}
.txt-lf {
  float: left;
}

.chat-name {
  margin: 0;
}

.msg-date {
  background: var(--bg-hover-color);
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--border-color);
}

.btn-close-simple {
  border-radius: 1rem;
  outline: none;
  border: none;
  background: var(--bg-transparent);
  border: 0.0625rem solid var(--border-color);
}

.btn-close-simple:hover,
.btn-close-simple:focus {
  border-radius: 1rem;
  outline: none;
  background: var(--bg-hover-color);
}

.messenger-component ::ng-deep .p-dialog {
  width: 25rem !important;
}

.preview-msg {
  height: 1.2rem;
  overflow: hidden;
}

.drop-group {
  border-left: none !important;
}

.select-group-col ::ng-deep.p-dropdown-trigger-icon {
  padding-right: 0.2rem;
}

.drop-msg-massive ::ng-deep .p-dropdown .p-dropdown-label.p-inputtext {
  color: var(--txt-color);
  display: none;
}

.drop-msg-massive ::ng-deep.p-dropdown-trigger {
  padding-bottom: 0.6rem;
}

.drop-msg-massive ::ng-deep.p-dropdown {
  border-bottom: 0.1rem solid var(--bg-transparent);
}

.drop-msg-massive ::ng-deep.p-dropdown .p-dropdown-panel {
  left: -5rem !important;
  top: 1rem !important;
  min-width: 8rem;
}

.contacts-list ::ng-deep.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
}

.filter-active
  ::ng-deep
  .mat-form-field-appearance-standard
  .mat-form-field-underline {
  background-color: var(--success-color);
  height: 0.2rem !important;
}
