.row {
  margin-right: 0;
  margin-left: 0;
}

.main-row {
  margin-left: 9rem;
  margin-right: 5rem;
  margin-top: 2.5rem;
  height: max-content;
}

.main-row .col-lg-8 {
  height: 80rem;
}

.form-col {
  min-width: 28rem;
}

.log-container-col {
  background: var(--bg-color);
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 2rem 0rem 0rem 2rem;
  border: 0.1rem solid var(--border-color);
  height: 100%;
  padding: 0rem 0rem 1.5rem 0rem;
  min-width: 28rem;
  color: var(--txt-secondary-color);
}

.inherit-row {
  margin: 1.5rem 0rem 1.5rem 0rem;
  color: var(--txt-secondary-color);
  height: 47%;
}

.phone-col {
  background: var(--bg-color);
  overflow-y: hidden;
  border-radius: 2rem 2rem 2rem 2rem;
  border: 0.1rem solid var(--border-color);
  padding: 24px 0px 24px 0px;
  height: 100%;
  min-width: 28rem;
  color: var(--txt-secondary-color);
}
