<div class="row main-row">
  <div class="col-lg-8">
    <div class="form-col">
      <form-component
        *ngIf="activeTemplate"
        [activeTemplate]="activeTemplate"
      ></form-component>
    </div>
    <div class="row inherit-row">
      <div class="col-12 log-container-col">
        <log-component></log-component>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="phone-col" *ngIf="this.dbObjKey && this.userInfo">
      <phone-component></phone-component>
    </div>
  </div>
</div>
<p-scrollTop [threshold]="200"></p-scrollTop>
<p-confirmDialog rejectLabel="Cancel" acceptLabel="Accept"></p-confirmDialog>
