.sidebar {
    border-radius: 0rem 2rem 2rem 0rem;
    height: 100%;
    width: 7rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e6e7ee;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
    overflow-x: hidden;
  }
  
  .sidebar-header {
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .sidebar-logo {
    width: 3.5rem;
    height: 3.5rem;
  }
  
  .ul-sidebar {
    padding: 0;
    margin: 0;
  }
  
  .sidebar-tab-container {
    text-align: center;
    padding: 3rem 0rem 0rem 0rem;
  }
  
  .sidebar-tab {
    margin: 0rem 2rem 0rem 2rem;
    height: 3rem;
    border-radius: 50%;
  }
  
  .sidebar-tab:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  
.active-tab {
  box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff!important;
  }
  
  .a-sidebar {
    padding-top: 0.4rem;
    text-decoration: none;
    display: block;
  }
  
  .i-sidebar {
    color: #31344b;
    font-size: 1.5rem;
  }