<!-- Bootstrap CSS CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2">

    <!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<!-- Sidebar -->
<div class="sidebar">

    <div class="sidebar-header">
        <img class="sidebar-logo"  alt="{{  sidebarlogo }}">
    </div>

    <ul class="ul-sidebar">
        <li class="sidebar-tab-container" *ngFor="let tab of sidebartabs">
            <div class="sidebar-tab" data-toggle="tooltip" title="{{ tab.tab_name }}" routerLinkActive="active-tab">
                <a class="a-sidebar" [routerLink]="[tab.tab_route]" >
                    <i class="{{ tab.tab_icon }} i-sidebar"></i>
                </a>
            </div>
        </li>
    </ul>

</div>

<!-- Angular components -->
<div class="container-fluid">

    <router-outlet></router-outlet>

</div>