.main-row {
  margin-left: 9rem;
  margin-right: 1rem;
  margin-top: 2.5rem;
  height: 57rem;
}

.chart-col {
  overflow-y: hidden;
  border-radius: 2rem;
  border: 0.1rem solid var(--border-color);
  padding: 1.5rem;
}

.chart-sum-col {
  overflow-y: hidden;
  border-radius: 2rem;
  border: 0.1rem solid var(--border-color);
  padding: 2.5rem;
}

.icon-rep {
  font-size: 3.9rem;
  vertical-align: text-top;
  background-color: var(--bg-color);
  border-radius: 5rem;
  border: 0.0625rem solid var(--border-color);
  padding: 1rem 2.5rem 1rem 2.5rem;
}

.dials-percentage {
  margin-left: 37%;
}
