@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/nova/theme.css";

:root {
  --bg-color: #e6e7ee;
  --bg-hover-color: #e0e1e9;
  --bg-hover-transparent-color: #26283308;
  --bg-transparent: #00000000;

  --txt-color: #44476a;
  --txt-secondary-color: #333333;
  --txt-label-color: #5c5c5f;

  --border-color: #d1d9e6;

  --box-shadow-inset: #b8b9be;
  --box-shadow-inset-secondary: #fff;
  --pulse-animation-color: #8d90b5b3;

  --success-color: #296e58;
  --error-color: #a91e2c;
  --error-hover-color: #c42131;

  --overlay-color: #e6e7eea2;

  --toggle-bg-color: #b1bcce;
  --toggle-slide-bg-color: #b1bccec9;
  --toggle-slide-hover-bg-color: #44476ad8;

  --bg-scrollbar: #b8b9be80;
  --bg-scrollbar-hover: #cfcfd6;
}

html {
  background-color: var(--bg-color);
  font-size: 0.9rem;
  height: 100%;
  overflow-y: auto;
}

body {
  height: 100%;
  background-color: var(--bg-color);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-fluid {
  background-color: var(--bg-color);
  height: 100%;
}

::placeholder {
  color: var(--txt-label-color);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--txt-label-color);
}

::-ms-input-placeholder {
  color: var(--txt-label-color);
}

h1,
h3,
h5 {
  color: var(--txt-secondary-color) !important;
}

hr {
  border-color: var(--border-color) !important;
}

td {
  color: var(--txt-secondary-color);
}

.txt-no-btn {
  color: var(--txt-secondary-color);
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 2rem;
}

::-webkit-scrollbar:hover {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-track {
  background: var(--bg-hover-transparent-color);
  border-radius: 2rem;
}

::-webkit-scrollbar-track:hover {
  background: var(--bg-scrollbar-hover);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-scrollbar);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--box-shadow-inset);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
}

textarea {
  resize: none !important;
  overflow-x: auto !important;
}

.mat-select-panel {
  background-color: var(--bg-color);
}

.mat-option-text {
  color: var(--txt-color);
}

.mat-option.mat-active {
  background-color: var(--bg-hover-transparent-color) !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: var(--txt-color);
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: var(--txt-color);
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: var(--txt-color);
}

.mat-icon-button.mat-button-base {
  outline: none;
}

.mat-sort-header-arrow {
  color: var(--txt-color);
}

.mat-sort-header-container {
  justify-content: center;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--pulse-animation-color);
  }

  70% {
    box-shadow: 0 0 0 0.2rem var(--bg-transparent);
  }

  100% {
    box-shadow: 0 0 0 0 var(--bg-transparent);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mat-tooltip {
  color: var(--txt-color) !important;
  font-weight: bold;
  background-color: var(--bg-color);
  border: 0.0625rem solid var(--border-color);
  transition: all 0.2s ease-in-out;
  box-shadow: inset 2px 2px 5px var(--box-shadow-inset),
    inset -3px -3px 7px var(--box-shadow-inset-secondary);
}

.show {
  animation: fade-show 1s;
  display: inline !important;
}

.hide {
  animation: fade-hide 1s;
  display: none !important;
}

@keyframes fade-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-hide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show-line {
  animation: fade-show-line 1s;
  display: inline-flex !important;
}

@keyframes fade-show-line {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show-line-b {
  display: inline-block !important;
}

.not-visible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.margin-right {
  margin-right: 1rem;
}

.margin-left {
  margin-left: 1rem;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.margin-bt {
  margin-bottom: 1rem;
}

.margin-lg-bt {
  margin-bottom: 2rem;
}

.margin-lt {
  margin-left: 1rem !important;
}

.margin-rt {
  margin-right: 1rem !important;
}

.margin-tp {
  margin-top: 1rem;
}

.float-rt {
  float: right;
}

.txt-lf {
  text-align: left;
}

.txt-rt {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.color-rd {
  color: var(--error-color);
}

.color-gr {
  color: var(--success-color);
}

.color-pr {
  color: var(--txt-color);
}

.not-rounded {
  border-radius: 0 !important;
}

.elm-rounded {
  border-radius: 1rem !important;
}

.not-bold {
  font-weight: normal !important;
}

.no-padding-rt {
  padding-right: 0 !important;
}

.no-padding-lt {
  padding-left: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.padding-tp {
  padding-top: 1rem;
}
.padding-bt {
  padding-bottom: 1rem;
}

.input-disabled-neumorphism {
  outline: 0 !important;
  box-shadow: none !important;
  cursor: default;
}

button,
button:focus,
button:hover {
  outline: none;
}
