<form>
  <div class="iconbutton-container">
    <div class="btnsave-container margin-rt">
      <button class="button-neumorphism" *ngIf="editField">Save</button>
    </div>
    <div class="iconbutton-neumorphism" matTooltip="Edit fields" matTooltipPosition="above" (click)="editFields()">
      <i class="bi bi-pencil-square " *ngIf="!editField"></i>
      <i class="bi bi-x-circle-fill " *ngIf="editField"></i>
    </div>
  </div> 
  <div class="form-row data-form" spellcheck="true">
    <div class="form-group col-md-6" *ngFor="let element of formElement">
      <label>{{ element.element_placeholder }}</label>

      <ng-container [ngTemplateOutlet]="element.element == 'input' ? inputElement : textareaElement"
        [ngTemplateOutletContext]="{input:element}">
      </ng-container>

      <ng-template #inputElement>
        <input type="{{ element.element_type }}" class="input-neumorphism" [ngClass]="{ 'input-disabled-neumorphism ': !editField }" [readonly]="!editField" placeholder="{{ element.element_placeholder }}" value="{{ element.element_value }}" >
      </ng-template>

      <ng-template #textareaElement>
        <textarea class="input-neumorphism" [ngClass]="{ 'input-disabled-neumorphism': !editField }" [readonly]="!editField" placeholder="{{ element.element_placeholder }}" [attr.read-only]="!editField" autocomplete="off" value="{{ element.element_value }} " 
          appTextareaAutoresize></textarea>
      </ng-template>

    </div>

  </div>
</form>