.iconbutton-neumorphism.btnEditLayout {
  border-radius: 0.55rem;
  position: relative !important;
  top: 0.7rem;
}
textarea {
  resize: none;
  height: fit-content !important;
}

.txtFormComponen,
.slcFormComponent {
  width: 100% !important;
  height: 2.9rem !important;
}

::ng-deep .txtFormComponent.mat-form-field {
  display: inline-block !important;
  position: unset !important;
  width: 100% !important;
}

::ng-deep .call-info-form .txtFormComponent .mat-input-element {
  box-sizing: content-box;
  width: 100%;

}

::ng-deep .txtFormComponent .mat-input-element {
  box-sizing: border-box;
  width: 100%;

}

::ng-deep .txtFormComponen t.mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .txtFormComponent .mat-form-field-label {
  top: 2.1rem !important;
}

::ng-deep .txtFormComponent .cdk-overlay-pane {
  transform: translateX(-6px) translateY(0px) !important;
}

::ng-deep
  .txtFormComponent.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-2em) scale(1);
}

::ng-deep .slcFormComponent.mat-form-field-appearance-fill {
  margin-left: 0 !important;
  margin-top: 1.7rem;
  width: 100% !important;
}

::ng-deep .slcFormComponent .mat-form-field-flex {
  width: 99% !important;
}

::ng-deep
  .slcFormComponent.mat-form-field-appearance-fill
  .mat-form-field-label-wrapper {
  top: -1.84375em !important;
  padding-top: 1.84375em !important;
}

::ng-deep
  .slcFormComponent.mat-form-field-type-mat-select
  .mat-form-field-label {
  width: calc(100% - 3rem) !important;
  font-size: small;
}

::ng-deep .mat-select-panel:not([class*="mat-elevation-z"]) {
  min-width: calc(100% + 1rem) !important;
}

::ng-deep
  .slcFormComponent.mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-0.59375em) scale(0.99);
}

::ng-deep .modifyingAddress .p-dialog {
  width: 44% !important;
}

::ng-deep .modifyingAddress .p-dropdown,
::ng-deep .modifyingAddress .p-dropdown.p-focus {
  width: 88%;
  border: none !important;
  margin-top: 2.3rem;
}

::ng-deep .checkFormComponent .p-checkbox {
  margin-top: 2.4rem;
  margin-left: 1.1rem;
}

::ng-deep .checkFormComponent .p-checkbox-label {
  margin-top: 2.3rem;
}

::ng-deep .lblFormComponent {
  margin-bottom: 0;
  margin-left: 1rem;
  margin-top: 0.5rem;
  color: #5c5c5f;
}

::ng-deep .modifyingAddress .p-dropdown .p-dropdown-panel {
  width: 14rem;
  left: -11px !important;
}

::ng-deep .modifyingAddress .button-neumorphism {
  width: 100% !important;
}

.modifyingAddress ::ng-deep.p-dropdown,
.modifyingAddress ::ng-deep.p-dropdown.p-focus {
  margin-top: 1.4rem;
  margin-bottom: 3rem;
}

.modifyingAddress ::ng-deep.p-dropdown-items-wrapper {
  max-height: 6rem !important;
}

.modifyingAddress ::ng-deep .mat-form-field-infix {
  border-top: none;
}

.list-container ::ng-deep .p-dropdown .p-dropdown-panel {
  left: -2.6rem !important;
  width: 6.5rem;
}

.list-container ::ng-deep .p-dropdown-item {
  white-space: normal;
  overflow-wrap: break-word;
}

.list-container ::ng-deep .p-dropdown .p-dropdown-label.p-inputtext {
  content-visibility: hidden !important;
}

.list-container ::ng-deep .p-dropdown {
  border: none !important;
  left: 50%;
  margin: -25px 0 0 -28px;
  top: 25%;
}

.list-container .button-neumorphism.default:hover {
  color: #44476ade !important;
}

.list-container .btn-group-col {
  overflow-y: auto;
  display: inline-flex;
  width: auto;
  max-width: 91.7%;
  border-top-left-radius: 1rem;
  white-space: nowrap !important;
}

.list-container .select-group-col {
  /* box-shadow: -3px 0px 10px 0px #d1d9e6; */
  border-top-right-radius: 1rem;
}

.list-container .group-row {
  padding: 0 !important;
  border: 0.1rem solid #d1d9e6;
  border-bottom: none !important;
}

.list-container .button-neumorphism {
  box-shadow: none !important;
  border-radius: 0 !important;
  width: max-content !important;
  word-break: normal !important;
  display: inline-flex;
  border-top: none !important;
  border-bottom: none !important;
  border-right: none !important;
  transition: background-color 200ms, color 200ms !important;
  align-items: center;
  justify-content: center;
}

.list-container .button-neumorphism:hover {
  background-color: #e0e1e9;
  color: #d2d3db96 !important;
}

.list-container .iconBtn {
  position: absolute;
  visibility: hidden;
  color: transparent;
  transition: font-size 200ms, color 100ms;
  font-size: 0;
  transition-timing-function: ease-in-out;
}

.list-container .button-neumorphism:hover .iconBtn {
  visibility: visible;
  color: #44476a;
  font-size: 1.3rem;
}

.list-container {
  margin: 0 !important;
  padding: 0 !important;
  flex-wrap: nowrap !important;
  width: 100%;
  max-width: 100%;
  height: 3rem;
}

.call-info-form {
  background: #e6e7ee;
  border: 0.1rem solid #d1d9e6;
  border-radius: 2rem;
  padding: 1.5rem;
  padding-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.call-info-form .col-md-auto{
  padding-right: 1.5rem;
    padding-left: 0.5rem;
}

.address-col{
  padding-right: 0rem !important;

}