.caller-information-col {
  background: #e6e7ee;
  overflow-y: hidden;
  border-radius: 2rem;
  border: 0.10rem solid #d1d9e6;
  height: 25%;
}

.caller-information-col{
  padding: 1.5rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

