.menu-table-container button {
    margin-top: 1.3rem;
}

.rename-group-container .mat-form-field .mat-form-field-appearance-standard .mat-form-field-flex {
    display: block;
    padding: 0;
    margin: 0;
}

.rename-group-container ::ng-deep .mat-form-field-infix {
    border-top: none !important;
}

.rename-group-container ::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0 !important;
}

.add-group-container .mat-form-field {
    width: 90%;
}

::ng-deep .p-datatable table {
    color: #44476a;
    background-color: #e6e7ee;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
    border-radius: 1rem;
    border: none;
}

::ng-deep.p-datatable .p-datatable-header {
    background-color: #e6e7ee;
    border: none;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
    color: #44476A;
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 1rem 0 1rem 0;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    text-align: center;
    background-color: transparent;
    border: none;
}

::ng-deep .p-datatable .p-datatable-tbody>tr {
    text-align: center;
    border: none;
    background-color: transparent;
    border-top: .0625rem solid #d1d9e6;
}

::ng-deep.p-datatable .p-sortable-column:not(.p-highlight):hover {
    background-color: transparent;
    color: #44476A;
}

::ng-deep.p-datatable .p-sortable-column.p-highlight {
    background: transparent;
    color: #44476A;
}

::ng-deep.p-datatable .p-sortable-column.p-highlight:hover {
    background: rgba(38, 40, 51, .03);
    color: #44476A;
}

::ng-deep.p-datatable .p-sortable-column .p-sortable-column-icon {
    color: #b8b9be;
}

::ng-deep.p-datatable .p-sortable-column:focus {
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

::ng-deep.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody>tr:not(.p-highlight):hover {
    background-color: rgba(38, 40, 51, .03);
    transition: 1s;
}

::ng-deep.p-datatable .p-datatable-tbody>tr:last-child>td:first-child {
    border-bottom-left-radius: 1rem;
}

::ng-deep.p-datatable .p-datatable-tbody>tr:last-child>td:last-child {
    border-bottom-right-radius: 1rem;
}

::ng-deep.p-paginator {
    background: #e6e7ee;
    color: #44476A;
    border: none;
    padding: 1rem 0 0 0;
}

::ng-deep.p-paginator .p-paginator-current {
    color: #44476A;
}

::ng-deep.p-paginator .p-paginator-first,
::ng-deep.p-paginator .p-paginator-prev,
::ng-deep.p-paginator .p-paginator-next,
::ng-deep.p-paginator .p-paginator-last {
    color: #b8b9be;
    border-radius: 1rem;
}

::ng-deep.p-paginator-element:focus {
    box-shadow: none;
}

::ng-deep.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    color: #44476A;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1rem;
    border: .0625rem solid #d1d9e6;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

::ng-deep.p-paginator .p-paginator-pages .p-paginator-page {
    border-radius: 1rem;
    color: #b8b9be;
}

::ng-deep.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    border: .0625rem solid #d1d9e6;
    color: #44476a;
    background-color: #e6e7ee;
    box-shadow: 2px 2px 5px #b8b9be;
    font-weight: 600;
}

::ng-deep.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
::ng-deep.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
::ng-deep.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
::ng-deep.p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
    border: .0625rem solid #d1d9e6;
    color: #44476a;
    background-color: #e6e7ee;
    box-shadow: 2px 2px 5px #b8b9be;
    font-weight: 600;
}

::ng-deep.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
p-paginator-icon {
    box-shadow: none;
    font-size: 1.5rem;
}

::ng-deep.p-disabled {
    display: none !important;
}

::ng-deep.pi-sort-alt:before {
    content: '\e933 \A \e930';
}

::ng-deep.pi-sort-amount-up-alt:before {
    content: '\e933';
}

::ng-deep.pi-sort-amount-down:before {
    content: '\e930';
}

::ng-deep.p-datatable .p-sortable-column:not(.p-highlight):hover .p-sortable-column-icon {
    color: #44476a;
    transition: 0.8s;
}

::ng-deep.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: #44476a;
}

::ng-deep.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
    color: #44476a;
}

.onValidationContainer {
    background-color: #e6e7ee;
    box-shadow: inset 2px 2px 5px #b8b9be;
    overflow-y: hidden;
    border-radius: 1rem;
    border: 0.10rem solid #d1d9e6;
    padding: .55rem;
    width: 100%;
    margin-bottom: 2rem;
    color: #44476a;

}

form {
    background: #e6e7ee;
    overflow-y: hidden;
    border-radius: 2rem;
    border: 0.10rem solid #d1d9e6;
    padding: 1.5rem;
    min-width: 28rem;
    max-width: 63%;
    margin-top: 2rem;
}

.inRow {
    background: none;
    overflow-y: hidden;
    border-radius: 0;
    border: none;
    padding: 1rem;
    min-width: unset;
    max-width: unset;
    margin-top: 0;
}

.form-group {
    margin-bottom: 0
}

.col-xl-auto ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

.col-xl-auto ::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0
}

.col-xl-auto ::ng-deep .p-checkbox-label {
    line-height: 1;
}

.col-xl-auto ::ng-deep .p-checkbox-label {
    margin-bottom: 0 !important;
    color: #44476a;
}

.col-xl-auto ::ng-deep .p-checkbox {
    padding: 1rem 0rem 1rem 1rem;
}

.col-xl-auto ::ng-deep.mat-form-field-appearance-standard .mat-form-field-flex {
    padding: 0 !important;
}

.col-xl-auto ::ng-deep.mat-form-field-appearance-standard .mat-form-field-wrapper {
    padding: 0 !important;
}

.col-xl-auto ::ng-deep .mat-form-field-infix {
    border-top: none;
}

.col-xl-auto ::ng-deep.mat-form-field {
    width: 100%;
}

.form-row>.col,
.form-row>[class*="col-"] {
    padding-right: 3rem;
    padding-left: 1.5rem;
    padding-bottom: 0.44rem;
}

.col-xl-auto ::ng-deep .mat-input-element {
    height: 1.5rem;
}

.col-xl-auto ::ng-deep .mat-form-field-empty.mat-form-field-label {
    top: 2.2rem !important;
    left: 1.2rem !important;
}

.col-xl-auto ::ng-deep .mat-form-field-label:not(.mat-form-field-empty) {
    top: 32px !important;
    left: 17px !important;
}

.col-xl-auto ::ng-deep .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.7em) scale(0.75) !important;
}

::ng-deep .p-column-filter-menu-button:focus {
    background-color: #e6e7ee;
    box-shadow: inset 2px 2px 5px #b8b9be;
    border: 0.10rem solid #d1d9e6;
    padding: .55rem;
    color: #44476a;
}

::ng-deep.p-column-filter-overlay {
    background-color: #e6e7ee;
    box-shadow: inset 2px 2px 5px #b8b9be;
    border: 0.10rem solid #d1d9e6;
    padding: .55rem;
    color: #44476a;
    border-radius: 1rem;
}

::ng-deep.p-column-filter-overlay-menu .p-column-filter-operator {
    padding: 0;
    border-radius: .55em;
    border: none;
    background-color: transparent;
    transition: all .3s ease-in-out;
    overflow-wrap: break-word;
    box-shadow: none;
}

::ng-deep.p-dropdown .p-dropdown-label.p-inputtext {
    font-weight: 600;
    font-size: 1rem;
    color: #44476a !important;
}

::ng-deep p-columnfilterformelement .p-inputtext {
    padding: .6rem .75rem;
    color: #44476a;
    background-color: #e6e7ee;
    border: .0625rem solid #d1d9e6;
    transition: all .3s ease-in-out;
    border-radius: 0.99rem;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
    overflow-wrap: break-word;
    -webkit-appearance: none;
    width: 100%;
}

::ng-deep p-columnfilterformelement .p-inputtext:enabled:focus {
    outline: 0;
    border: .0625rem solid #d1d9e6;

    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

::ng-deep p-columnfilterformelement p-button:enabled:hover {
    background-color: rgba(38, 40, 51, 0.03) !important;
    color: #44476a !important;
    border-color: #d1d9e6 !important;
}

::ng-deep p-columnfilterformelement .p-inputtext:enabled:hover {
    outline: 0;
    box-shadow: none;
    border-color: #d1d9e6 !important;
}

::ng-deep.p-button {
    background-color: #e6e7ee;
    color: #44476a !important;
    border-color: #d1d9e6 !important;
}

::ng-deep .p-button.p-button-danger.p-button-text:enabled:hover {
    color: #44476a !important;
    border-color: #d1d9e6 !important;
    outline: 0;
    animation: pulse 3s infinite;
    background-color: rgba(38, 40, 51, 0.03);
}

::ng-deep .p-button.p-button-outlined:enabled:hover {
    background-color: rgba(38, 40, 51, 0.03);
    color: #44476a !important;
    border: .0625rem solid;
}

.table-container {
    min-width: 1115px;
    overflow-x: auto;
}

::ng-deep .p-column-filter-menu-button.p-column-filter-menu-button-active {
    color: #44476a !important;
    border-color: #d1d9e6 !important;
    outline: 0;
    animation: pulse 3s infinite;
    background-color: rgba(38, 40, 51, 0.03);
}

::ng-deep .p-column-filter-menu-button.p-column-filter-menu-button-active,
::ng-deep .p-column-filter-menu-button.p-column-filter-menu-button-active:hover {
    background-color: #e6e7ee;
    border: .0625rem solid #d1d9e6;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
    color: #44476a !important;
}