<div>
    <div class="margin-bt">
        <button class="iconbutton-neumorphism " (click)="toggleMenu()">
            <i class="bi bi-sliders"></i>
        </button>
            <div [ngClass]="toggleMenuTable ? 'show' : 'hide'">
                
                    <button class="button-neumorphism margin-lt" (click)="deleteSelectedRows()"
                        [disabled]="!selectedRows || !selectedRows.length">
                        <i class="bi bi-trash-fill "></i> Delete all
                    </button>
                    <button class="button-neumorphism margin-lt">
                        <i class="bi bi-plus-square-fill "></i> Add new record
                    </button>
                    <button class="button-neumorphism margin-lt ">
                        <i class="bi bi-bounding-box"></i> Group record
                    </button>
            </div>
        </div>
    <p-table #dataTable [columns]="thData" [value]="tdData" [rows]="5" [paginator]="true" [globalFilterFields]="thData"
        [rowsPerPageOptions]="[5,10,25,50]" [(selection)]="selectedRows" [rowHover]="true" dataKey="slIndex"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" editMode="row">
        <ng-template pTemplate="caption">
            <div>
                <mat-form-field appearance="standard">
                    <mat-label>Filter by</mat-label>
                    <input matInput type="text" #filterInput (keyup)="dataTable.filterGlobal(filterInput.value, 'contains')"
                        placeholder="Ex. ium">
                </mat-form-field>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>
                    <p-tableHeaderCheckbox (click)="toggleMenu()"></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                    {{col.title}}<p-sortIcon field="{{col.field}}"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex" let-editing="editing">
            <tr [pEditableRow]="rowData">
                
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <mat-form-field appearance="standard">
                                <input matInput type="{{col.element_type}}" placeholder="{{col.title}}" [(ngModel)]="rowData[col.field]" required >
                            </mat-form-field>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData[col.field]}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <button pRipple *ngIf="!editing" type="button" pInitEditableRow (click)="onRowEditInit(rowData)" class="iconbutton-neumorphism">
                        <i class="bi bi-pencil-square i-neumorphism "></i>
                    </button>
                    <button pRipple *ngIf="!editing" type="button" (click)="deleteRow(rowIndex)" class="iconbutton-neumorphism">
                        <i class="bi bi-trash-fill i-neumorphism" ></i>
                    </button>
                    <button  pRipple *ngIf="editing" type="button" pSaveEditableRow (click)="onRowEditSave(rowData, rowIndex)" class="iconbutton-neumorphism">
                        <i class="pi pi-check i-neumorphism" ></i>
                    </button>
                    <button  pRipple *ngIf="editing" type="button" pCancelEditableRow (click)="onRowEditCancel(rowData, rowIndex)" class="iconbutton-neumorphism">
                        <i class="pi pi-times i-neumorphism"></i>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>